@use "../../../theme/variables" as *;

.top-banner-area{
  display: block;
  width: 100%;
  position: relative;
  border-bottom: 10px solid #27b68a;
  .banner{
    width: 100%;
    text-align: center;
    img{
      position: relative;
      max-height: 420px;
      width: 100%;
      height: auto;
      min-height: 180px;
    }
    h2{
      position: absolute;
      text-align: center;
      line-height: 42px;
      color: $colo-white;
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 670;
      font-size: 32px;
      top: 50%;
      left: auto;
      right: auto;
      width: 100%;
      transform: translateY(-50%);
    }
  }
}

.vison-content{
  background-color: #f2f2f2;
}
.section1{
  display: block;
  width: 100%;
  // background-image: url('https://api2.bangladesh.softlabit.com/api/upload/images/rifughdsygfyw-7965.jpg');
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 25%;
  padding: 200px 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  border-bottom: 10px solid #27b68a;
  &::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    z-index: -10;
  }
  .section1-main{
    display: block;
    text-align: center;
    h2{
      color: $colo-white;
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      display: block;
    }
  }
}
@media(max-width:800px){
  .section1{
    padding: 140px 0px;
    .section1-main{
      h2{
        font-size: 30px;
      }
    }
  }
}
@media(max-width:600px){
  .section1{
    padding: 110px 0px;
    .section1-main{
      h2{
        font-size: 28px;
      }
    }
  }
}
.section2{
  display: block;
  width: 100%;
  background-color: #f2f2f2;
  padding: 70px 10px;
  box-sizing: border-box;
  .section2-main{
    display: block;
    .bnp-logo{
      display: block;
      margin-bottom: 20px;
      img{
        max-width: 100px;
        width: 100%;
        margin: auto;
      }
    }
    .section2-des{
      display: block;
      text-align: center;
      p{
        color: $color-black;
        font-size:11px;
        font-family: $font-en-primary;
        font-weight: 800!important;
        max-width: 1000px;
       // line-height: 30px;
        width: 100%;
        margin: auto;
      }
    }
  }
}

@media(max-width:700px){
  .section2{
    .section2-main{
      .section2-des{
        //p{
        //  font-size: 19px;
        //  line-height: 27px;
        //}
      }
    }
  }
}

.section3{
  display: block;
  padding: 60px 0px;
  box-sizing: border-box;
  .section3-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    .section3-left{
      display:flex;
      align-items: center;
      justify-content: center;
      h3{
        color: $color-black;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        display: block;
        margin-bottom: 20px!important;
      }
      p{
        color: #646464;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
      }
    }
    .section3-right{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      img{
        width: 100%;
        margin: auto;
      }
    }
  }
}

@media(max-width:950px){
  .section3{
    .section3-main{
      grid-template-columns: repeat(1, 1fr);
      .section3-left{
        order: 1;
        text-align: center;
      }
      .section3-right{
        order: 0;
      }
    }
  }
}
@media(max-width:550px){
  .section3{
    .section3-main{
      grid-template-columns: repeat(1, 1fr);
      .section3-left{
        order: 1;
        text-align: center;
        p{
          font-size: 16px;
          line-height: 24px;
        }
        h3{
          font-size: 23px;
        }
      }
      .section3-right{
        img{
          max-width: 190px;
        }
      }
    }
  }
}

.section4{
  display: block;
  background-color: #68ddb3;
  .section4-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .section4-left{
      display: block;
      width: 100%;
      img{
        min-height: 250px;
        max-height: 500px;
      }
    }
    .section4-right{
      padding: 25px 20px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      h3{
        color: $color-black;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        display: block;
        margin-bottom: 20px!important;
      }
      p{
        color: #223c31;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
      }
    }
  }
}
@media(max-width:1100px){
  .section4{
    .section4-main{
      grid-template-columns: repeat(1, 1fr);
      .section3-right{
        text-align: center;
      }
    }
  }
}

@media(max-width:550px){
  .section4{
    .section4-main{
      grid-template-columns: repeat(1, 1fr);
      .section4-right{
        order: 1;
        text-align: center;
        p{
          font-size: 16px;
          line-height: 24px;
        }
        h3{
          font-size: 23px;
        }
      }
    }
  }
}

.section2-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content:center;
  margin-bottom: 40px;
  .active {
    //background-color: #2a84f2;
    color: #0A785A !important;
    border-bottom: 4px solid #0A785A !important;
  }
  button {
    //background-color: #ffff;
    color: #000;
    font-size: 20px;

  }
  .tab-link {
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    //border-radius: 5px;

  }
}

.search-btn {
    border: 1px solid;
    //background-color: #FDFDFD;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      border: none;
      outline: none;
      height: 100%;
      padding-left: 10px;
     // color: #A4A4A4;
    }
    mat-icon{
        //padding-top: 15px;
        //color: #f5f4f4;
    }

  }

.main2{

    display: block;
    max-width: 1200px;
    width: 100%;
    margin: auto;

}

@media(max-width:596px){
  .section2-top {
    display: grid;
    grid-template-columns: repeat(1,1fr)!important;
    gap: 10px;
    //justify-content: space-between;
    //align-items: center;
    //justify-content:center;
   // margin-bottom: 40px;
    .active {
      //background-color: #2a84f2;
      color: #FFFFFF!important;
      background: #0A785A !important;
     // border-bottom: 4px solid #0A785A !important;
    }
    button {
      //background-color: #ffff;
      color: #000;
      font-size: 20px;
      margin-right: 0!important;
    }
    .tab-link {
      width: 100%;
      padding: 10px;
      border: none;
      cursor: pointer;
      margin-right: 15px;
      background: rgba(196, 195, 195, 0.6);
      //border-radius: 5px;
      //border-bottom: 2px solid #0A785A !important;

    }
  }

}
  //// presss
