@use "../../../theme/variables" as *;
.section1{
    display: block;
    width: 100%;
    // background-image: url('https://api2.bangladesh.softlabit.com/api/upload/images/rifughdsygfyw-7965.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 25%;
    padding: 200px 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    border-bottom: 10px solid #27b68a;
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgb(0 0 0 / 50%);
        width: 100%;
        height: 100%;
        z-index: -10;
    }
    .section1-main{
        display: block;
        text-align: center;
        h2{
            color: $colo-white;
            font-family: $font-en-primary;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            display: block;
        }
    }
}
@media(max-width:800px){
    .section1{
        padding: 140px 0px;
        .section1-main{
            h2{
                font-size: 30px;
            }
        }
    }
}
@media(max-width:600px){
    .section1{
        padding: 110px 0px;
        .section1-main{
            h2{
                font-size: 28px;
            }
        }
    }
}
.section2{
    display: block;
    width: 100%;
    background-color: #f2f2f2;
    padding: 70px 10px;
    box-sizing: border-box;
    .section2-main{
        display: block;
        .bnp-logo{
            display: block;
            margin-bottom: 20px;
            img{
                max-width: 100px;
                width: 100%;
                margin: auto;
            }
        }
        .section2-des{
            display: block;
            text-align: center;
            p{
                color: $color-black;
                font-size:21px;
                font-family: $font-en-primary;
                font-weight: 500;
                max-width: 1000px;
                line-height: 30px;
                width: 100%;
                margin: auto;
            }
        }
    }
}

@media(max-width:700px){
    .section2{
        .section2-main{
            .section2-des{
                p{
                    font-size: 19px;
                    line-height: 27px;
                }
            }
        }
    }
}

.section3{
    display: block;
    //padding: 40px 0px;
    padding-bottom: 40px;
    box-sizing: border-box;
    .section3-main{
        display: flex;
        justify-content: center;
        align-items: center;
        //grid-template-columns: repeat(1, 1fr);
        //grid-gap: 20px;
        width: 100%;
        .section3-left{
            position: absolute;
            display:flex;
            align-items: center;
            justify-content: flex-end;
            left: 70%;
            color: #fffbfb;
           // width: 100%;
            h3{
                color: $color-black;
                font-family: $font-en-primary;
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                display: block;
                margin-bottom: 20px!important;
            }
            p{
                text-overflow: ellipsis;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 5;
                 -webkit-box-orient: vertical;
                //white-space: nowrap;
                width: 200px;
                color: #fffbfb!important;
                font-family: $font-en-primary;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 25px;
                strong{
                    color: #fffbfb;
                }
            }
        }
        .section3-right{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;
            //max-width: 1366px;
            img{
                width: 100%;
                margin: auto;
                height: 420px;
                //object-fit: cover;
            }
        }
    }
}



@media(max-width:950px){
    .section3{
        .section3-main{
          // grid-template-columns: repeat(1, 1fr);

            .section3-left{
                order: 1;
                text-align: center;
            }
            .section3-right{
                order: 0;
            }
        }
    }
}

@media(max-width:720px){
    .section3{
        .section3-main{
          // grid-template-columns: repeat(1, 1fr);

            .section3-left{
                left: 50%;
                order: 1;
                margin-top: 38%;
                //text-align: end;
            }
            .section3-right{
                order: 0;
            }
        }
    }
}

@media(max-width:670px){
    .section3{
        .section3-main{
          // grid-template-columns: repeat(1, 1fr);

            .section3-left{
                left: 30%;
                order: 1;
                margin-top: 38%;
                //text-align: end;
                p{
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                     -webkit-box-orient: vertical;
                    //white-space: nowrap;

                    strong{
                        color: #fffbfb;
                    }
                }
            }
            .section3-right{
                order: 0;
            }


        }
    }
}

@media(max-width:566px){
    .section3{
        .section3-main{
          // grid-template-columns: repeat(1, 1fr);

            .section3-left{
                //left: 30%;
                order: 1;
                margin-top: 48%;
                //text-align: end;
                p{
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                     -webkit-box-orient: vertical;
                    //white-space: nowrap;

                    strong{
                        color: #fffbfb;
                    }
                }
            }
            .section3-right{
                order: 0;
            }


        }
    }
}
@media(max-width:550px){
    .section3{
        .section3-main{
            //grid-template-columns: repeat(1, 1fr);
            .section3-left{
                order: 1;
                text-align: center;
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
                h3{
                    font-size: 23px;
                }
            }
            .section3-right{
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media(max-width:432px){
    .section3{
        .section3-main{
          // grid-template-columns: repeat(1, 1fr);

            .section3-left{
                //left: 30%;
                order: 1;
                margin-top: 68%;
                //text-align: end;
                p{
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                     -webkit-box-orient: vertical;
                    //white-space: nowrap;

                    strong{
                        color: #fffbfb;
                    }
                }
            }
            .section3-right{
                order: 0;
            }


        }
    }
}
.section4-content{
   // margin-right: 20px;
}

    .section4-main{

        gap: 20px;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 100%;
        .section41{

        }
        .section4-main1{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .section4-left{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            //display: block;
            width: 320px;
            height: 300px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                // max-height: 500px;
            }
        }
        .section4-right{
            position: absolute;
            padding: 25px 20px;
            //box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            //top: 0;
           // width: 100%;
            h3{
                color: #ffffff;
                background-color: rgba(77, 77, 77, 0.5);
                font-family: $font-en-primary;
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                width: 250px;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 5px;
                //display: block;
               // margin-bottom: 20px!important;
            }
            p{

                color: #ffffff;
                font-family: $font-en-primary;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 25px;
            }
        }
    }


   .last-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width:1100px;
    .last-content-img{
        width: 100%;
    }
    .last-content{
        position: relative;
        width: 100%;
        h2{
            font-family: sans-serif;
            color: #228B22;
            margin: 50px auto;
            text-align: center;
            font-size: 30px;
            width: 100%;
            position: relative;
          }
        h2::before{
        content: '';
        display: block;
        width: 30%;
        height: 3px;
        background: #191970;
        left: 0;
        top: 50%;
        position: absolute;
        }
        h2::after {
            content: "";
            display: block;
            width: 30%;
            height: 3px;
            background: #191970;
            right: 0;
            top: 50%;
            position: absolute;
          }

    }
   }
   @media(max-width:486px){
    .last-contents{
    .last-content{
        position: relative;
        width: 100%;
        h2{
            font-family: sans-serif;
            color: #228B22;
            margin: 40px auto;
            text-align: center;
            font-size: 20px;
            width: 80%;
            position: relative;
          }
        h2::before{
        content: '';
        display: block;
        width: 30%;
        height: 3px;
        background: #191970;
        left: 0;
        top: 50%;
        position: absolute;
        }
        h2::after {
            content: "";
            display: block;
            width: 30%;
            height: 3px;
            background: #191970;
            right: 0;
            top: 50%;
            position: absolute;
          }
        }
    }
   }

   @media(max-width:386px){
    .last-contents{
    .last-content{
        position: relative;
        width: 100%;
        h2{
            font-family: sans-serif;
            color: #228B22;
            margin: 40px auto;
            text-align: center;
            font-size: 20px;
            width: 80%;
            position: relative;
          }
        h2::before{
        content: '';
        display: block;
        width: 25%;
        height: 3px;
        background: #191970;
        left: 0;
        top: 50%;
        position: absolute;
        }
        h2::after {
            content: "";
            display: block;
            width: 25%;
            height: 3px;
            background: #191970;
            right: 0;
            top: 50%;
            position: absolute;
          }
        }
    }
   }
