@use "../../../theme/variables" as *;

.section-1{
    margin: 30px 0px;
}
.all-photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.photo {
    // max-width: 400px;
    overflow: hidden;
    border-radius: 5px;
    img{
        max-height: 300px;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        cursor: pointer;
        transition:all 0.3s linear;
        // cursor: pointer;
        &:hover{
            transform: scale(1.05);
        }
    }

}

@media(max-width:1024px){
    .all-photo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:767px){
    .all-photo {
        grid-template-columns: repeat(1, 1fr);
    }
}


