<div class="section1">
    <div class="container">
         <div class="section1-main">
              <h2>Constitution</h2>
         </div>
    </div>
</div>

<div class="section2">
   <div class="container">
          <div class="section2-main">
              <div class="bnp-logo">
                  <img src="/images/logo/bangladesh-flag-independent-victory-day_551555-340%20(2).png" alt="image" loading="lazy">
              </div>
              <div class="section2-des">
                  <p>Bangladesh Nationalist Party was founded on september 1, 1978 on the basis of Bangladeshi Nationalism, an ideology that recognizes the right of Bangladeshis from all walks of life, irrespective of their ethnicity, gender or race. </p>
              </div>
          </div>
   </div>
</div>

<div class="section3">
     <div class="container">
          <div class="section3-main">
                <div class="section3-left">
                    <div>
                       <h3>Our Information</h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laboriosam omnis ipsam? Sit iure, nisi, enim ea ullam perspiciatis necessitatibus voluptates ab delectus iusto vero quae pariatur impedit, suscipit ducimus quidem tempore? Magni, reiciendis et rerum minus labore ex quod perspiciatis, ut doloribus excepturi laudantium architecto adipisci animi ad voluptas distinctio dicta amet est, iusto ipsum fugit? Deserunt debitis ullam fugit velit natus sit ratione asperiores, quasi aperiam alias molestias.</p>
                    </div>
                </div>
                <div class="section3-right">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Bangladesh_Nationalist_Party_Election_Symbol.svg/1200px-Bangladesh_Nationalist_Party_Election_Symbol.svg.png" alt="image" loading="lazy">
                </div>
          </div>
     </div>
</div>
<div class="section4">
    <div class="">
         <div class="section4-main">
               <div class="section4-left">
                     <img src="https://images.news18.com/ibnlive/uploads/2022/12/reuters-bnp-bangladesh-1-16706646773x2.jpg?impolicy=website&width=510&height=356" alt="image" loading="lazy">
               </div>
               <div class="section4-right">
                       <div>
                           <h3>Our Information</h3>
                           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero ipsa praesentium doloremque sint iste, iusto consequatur delectus, rem consectetur, culpa eius fuga pariatur eligendi qui. Sequi quidem ducimus, omnis ab quibusdam, excepturi optio perferendis unde assumenda veritatis nulla voluptatibus animi minus rem molestias. At architecto ab velit, neque possimus ex unde consequatur pariatur dolore mollitia voluptatibus eius molestias sapiente accusantium natus nesciunt provident enim, dolorum, voluptatem ad non! Pariatur similique exercitationem esse eum eos porro?</p>
                       </div>
               </div>
         </div>
    </div>
</div>
