<div class="program">
    <div class="program-img">
        <ngx-skeleton-loader count="1" [theme]="{
          'border-radius': '0px',
          height: '200px',
          width: '100%',
          'background-color': '#e5e5e5',
          border: '1px solid white'
        }">
        </ngx-skeleton-loader>
        <div class="user-img">
            <ngx-skeleton-loader count="1" [theme]="{
              'border-radius': '50%',
              height: '55px',
              width: '55px',
              'background-color': '#e5e5e5',
              border: '1px solid white'
            }">
            </ngx-skeleton-loader>
        </div>
    </div>
    <div class="program-body">
        <div class="title">
            <ngx-skeleton-loader count="1" [theme]="{
              'border-radius': '5px',
              height: '40px',
              width: '100%',
              'background-color': '#e5e5e5',
              border: '1px solid white'
            }">
            </ngx-skeleton-loader>
        </div>
        <div class="title">
            <ngx-skeleton-loader
            count="1"
            [theme]="{
              'border-radius': '5px',
              height: '20px',
              width: '100px',
              'background-color': '#e5e5e5',
              border: '1px solid white'
            }"
          >
          </ngx-skeleton-loader>
           </div>
    </div>
    <div class="program-footer">
        <div class="footer">
            <ngx-skeleton-loader
            count="1"
            [theme]="{
              'border-radius': '0px',
              height: '35px',
              width: '100%',
              'background-color': '#e5e5e5',
              border: '1px solid white'
            }"
          >
          </ngx-skeleton-loader>
           </div>
    </div>
</div>