@use "../../../../theme/variables" as *;

.recently-news {
   // background-color: #f1f3f273;
    //padding: 15px 20px 15px;

    .title-top {
        color: #2A413C;
        font-family: $font-en-primary;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 32px;
    }
}

.news-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px 20px;
  .news1{
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(2,1fr);
  }

    .news {
        display: flex;
       // align-items: center;
        justify-content: flex-start;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(93, 92, 92, 0.5);
        gap: 15px;
        cursor: pointer;
        width: 100%;
      .news11{
        display: flex;
        // align-items: center;
        justify-content: flex-start;
        // flex-direction: column;
        padding-bottom: 10px;
        //border-bottom: 1px solid rgba(93, 92, 92, 0.5);
        gap: 10px;
        cursor: pointer;
        width: 100%;
      }

        .news-desc {
            h4 {
                //margin-bottom: 5px;
                font-family: $font-en-primary;
                color: #121212;
                font-size: 16px;
                font-weight: 600;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                // margin-bottom: 10px!important;
            }

            span{
                font-family: 'Noto Sans',sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                display: block;
            }
          span{
            font-family: 'Noto Sans',sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 19px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .read-more{
            display: flex;
            justify-content: flex-start;
            margin-top: 15px;
          }

        }
        img {
            //max-width: 120px;
            //width: 100%;
            //max-height: 100px!important;
            //height: 100%;
            //border-radius: 5px;
          max-width: 153px;
          min-width: 120px;
          width: 100%;
          max-height: 119px !important;
          height: 100%;
          border-radius: 5px;
        }
    }


}
@media (max-width: 650px) {
  .news-container{
    .news1{
      //display: grid;
      //gap: 10px;
      grid-template-columns: repeat(1,1fr);
    }
  }

}

.button-hover {
    padding: 3px 6px;
    width: 100%;
    font-size: 14px;
    border-radius: 7px;
    background-color: #0E7356;
    color: #FFF;
    text-align: center;
    display: inline;
    border: 2px solid transparent;
    cursor: pointer;
    max-width: 130px;
    text-align: center;

    &:hover {
        background-color: #FFF;
        color: #0E7356;
        border: 2px solid #0E7356;
    }
}




@media(max-width:767px) {
    .recently-news {
        .title-top {
            font-size: 24px;
        }
    }

}
