//.pdf-viewer {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  height: 50vh;
//}
.pdf-container {
  width: 100%; /* Full width of the parent */
  // height: 80vh; /* Limit the height to avoid overflow */
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  // margin-bottom: 10px;
  overflow-y: auto; /* Allow vertical scrolling */
  // overflow-x: hidden; /* Hide horizontal scrolling */
  padding: 10px; /* Padding for aesthetics */
  display: flex;
  gap: 5px;
  // margin: 0 auto;
  // justify-content: center; /* Center the pages horizontally */
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
  margin: 10px 0; /* Spacing between pages */
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  button {
    margin: 0 5px;
  }
}

canvas {
  width: 100%; // Ensure the canvas is responsive
}


.offer-cross-area{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  span{
    cursor: pointer;
    color: #BE0101;
    padding: 10px;
    font-weight: 800;
    font-size: 27px;
    margin-right: -22px;
  }
}

.pdf-height{
  //border: 2px solid #d0cece;
  padding: 0 40px 40px 40px;
  width: 100%;
}

.pdf-height1{
  border: 5px solid #a9a9a9;
  height: 550px;
  overflow: auto;
  width: 100%;
  .img{
    border-bottom: 10px solid #a9a9a9;
  }
}

.pdf-height1::-webkit-scrollbar {
  display: none;
}

canvas {
  border: 1px solid #000;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

///* width */
//.ng2-pdf-viewer-container::-webkit-scrollbar {
//  width: 20px;
//}
//
//.pdf-height::-webkit-scrollbar {
//  width: 1em;
//}
//.pdf-height::-webkit-scrollbar-track {
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//}
//.pdf-height::-webkit-scrollbar-thumb {
//  background-color: darkgrey;
//  outline: 1px solid slategrey;
//}
//
///* Track */
//pdf-viewer::-webkit-scrollbar-track {
//  box-shadow: inset 0 0 5px grey;
//  border-radius: 10px;
//}
//
///* Handle */
//pdf-viewer::-webkit-scrollbar-thumb {
//  background: red;
//  border-radius: 10px;
//}
//
///* Handle on hover */
//pdf-viewer::-webkit-scrollbar-thumb:hover {
//  background: #b30000;
//}
iframe{
  display: block;
  width: 100%;
  height: 100%;
}
.not-found{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     color: black;
     font-size: 20px;
}
@media (max-width: 500px) {
  .pdf-height{
    //border: 2px solid #d0cece;
    padding: 0 20px 20px 20px;
  }
  //
  .pdf-height1{
    border: 4px solid #d0cece;
    height: 400px;
    width: 100%;
  }
}

.loading1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60px;
  }
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}
.loader:after{
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  //background: #222b32;
  border-radius: 50%;
}
.loader:before{
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  background: #de3500;
  animation: crlMugLoader 2s linear infinite alternate;
}
@keyframes crlMugLoader {
  0%  ,10% { transform: translateY(64px) }
  90% , 100% { transform: translateY(0px) }
}

.loading {
  border: 3px solid #3a3;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -o-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.abgne-loading-20140104-2 {
  position: relative;
  height: 100px;
  width: 100px;
}

.abgne-loading-20140104-2 .loading {
  border: 6px solid #C92127;
  border-right: 6px solid #fff;
  border-bottom: 6px solid #fff;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -ms-animation: loading 1s infinite linear;
  -o-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
.abgne-loading-20140104-2 .word {
  color: #168;
  position: absolute;
  top: 20px;
  left: 23px;
  display: inline-block;
  text-align: center;
  font-size: 72px;
  line-height: 72px;
  padding: 0;
}
