@use "../../../theme/exports/_load-more-btn" as *;
.load-more{
  .button{
    width: 15.5em!important;
  }
}
.top-banner-area{
    display: block;
    width: 100%;
    .banner{
      width: 100%;
      position: relative;
      img{
        position: relative;

        max-height: 420px;
        width: 100%;
        height: auto;
        min-height: 180px;
      }
      .pageinfo-name{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-align: center;
        h2{
          font-size: 30px;
          font-weight: 700;
        }
      }
    }
  }

.container {
    display: block;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.press-video{
    margin: 20px 0;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}


@media(max-width: 861px) {

.press-video{
    grid-template-columns: repeat(2,1fr);
}

}



@media (max-width: 700px){
    .container {
        width: 100%;
        padding: 0px 0;
        box-sizing: border-box;
    }
}

@media(max-width: 550px) {

    .press-video{
        grid-template-columns: repeat(1,1fr);
    }

    }
    .button-hover {
      padding: 3px 10px;
      width: 100%;
      font-size: 16px;
      border-radius: 7px;
      background-color: #0E7356;
      color: #FFF;
      text-align: center;
      display: inline;
      border: 2px solid transparent;
      cursor: pointer;
      max-width: 130px;
      text-align: center;

      &:hover {
        background-color: #FFF;
        color: #0E7356;
        border: 2px solid #0E7356;
      }
    }

      .conferance-card{
          margin: 20px 0;
          justify-content: center;
          align-items: center;
          padding: 0 15px;
          //width: 100%;
          display: grid;
          grid-template-columns: repeat(4,1fr);
          grid-gap: 15px;
      }
      .icon{
          position: absolute;
          padding-left: 10px;
          padding-top: 10px;
          left: 10px;
          top: 10px;
          z-index: 2;
          height: 40px;
          width: 40px;
      }
      .post {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 270px;
        height: 300px;
        display: flex;
         overflow: hidden;
        flex-direction: column;
        position: relative;

        &:hover {
          .header_post {
            margin-top: -20px;
          }

          .body_post {
            height: 45%;
          }

           img {
              transform: translatey(-10px) translatex(-5px) scale(1.05)

           }
        }

        .header_post {
          width: 100%;
          height: 70%;
          background: #ddd;
          position: absolute;
          top: 0;
          -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;

          img {
            max-width: 100%;
            height: auto;
            transition: ease-in-out 600ms;
          }
        }

        .body_post {
          width: 100%;
          height: 30%;
          background: #fff;
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          cursor: pointer;


          .post_content {
            width: 80%;
            height: 62%;
            background: #fff;
            position: relative;

            h1 {
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 16px;
            }

            p {
              font-size: 14px;
              font-weight: normal;
            }

            .container_infos {
              width: 100%;
              display: flex;
              justify-content: space-between;
              position: absolute;
              bottom: 0;
              border-top: 1px solid rgba(0, 0, 0, .2);
              padding-top: 25px;

              .postedBy {
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 12px;

                span {
                  font-size: 12px;
                  text-transform: uppercase;
                  opacity: 0.5;
                  letter-spacing: 1px;
                  font-weight: bold;
                }
              }

              .container_tags {
                display: flex;
                flex-direction: column;

                span {
                  font-size: 12px;
                  text-transform: uppercase;
                  opacity: 0.5;
                  letter-spacing: 1px;
                  font-weight: bold;
                }

                .tags {
                  ul {
                    display: flex;
                    li {
                      font-size: 12px;
                      letter-spacing: 2px;
                      list-style: none;
                      margin-left: 8px;
                      text-transform: uppercase;
                      position: relative;
                      z-index: 1;
                      display: flex;
                      justify-content: center;
                      cursor: pointer;

                      &:first-child {
                        margin-left: 0px;
                      }

                      &:before {
                        content: '';
                        text-align: center;
                        width: 100%;
                        height: 5px;
                        background: #FC6042;
                        opacity: 0.5;
                        position: absolute;
                        bottom: 0;
                        z-index: -1;
                        padding: 0px 1px;
          -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
          transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                      }

                      &:hover:before {
                        height: 18px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width: 1164px){
        .conferance-card{
          justify-content: center;
          align-items: center;
          grid-template-columns: repeat(3,1fr);
          grid-gap: 15px;
          .post {
            width: 100%!important;
            height: 300px;
            display: flex;
             overflow: hidden;
            flex-direction: column;
            position: relative;
      }

      }
    }
      @media (max-width: 868px){
        .conferance-card{
          justify-content: center;
          align-items: center;
          grid-template-columns: repeat(2,1fr);
          grid-gap: 15px;
          .post {
            width: 100%!important;
            height: 300px;
            display: flex;
             overflow: hidden;
            flex-direction: column;
            position: relative;
      }

      }
    }
      @media (max-width: 584px){
        .conferance-card{
          justify-content: center;
          align-items: center;
          grid-template-columns: repeat(1,1fr);
          grid-gap: 15px;
          .post {
            width: 100%!important;
            height: 300px;
            display: flex;
             overflow: hidden;
            flex-direction: column;
            position: relative;
      }

      }
    }





    footer {
      width: 350px;
      height: 80px;
      background: #17A16F;
      position: absolute;
      right: 0;
      bottom: -80px;
      display: flex;
      justify-content: center;
      align-items: center;
       animation: top 0.8s forwards;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #fff;
        font-family: 'Poppins';

        i {
          margin-right: 25px;
          font-size: 22px;
          color: #fff;
          animation: icon 2s forwards;
          opacity: 0;
        }
      }
    }

    @keyframes top {
      0% {
        opacity: 0;
         bottom: -80px
      }
      100% {
        opacity: 1;
         bottom: 0px

      }
    }

    @keyframes icon {
      0% {
        opacity: 0;
         transform: scale(0.0);
      }
       50% {
          opacity: 1;
         transform: scale(1.3) rotate(-02deg);

       }
      100% {
        opacity: 1;
         bottom: 0px;
      }
    }



  .courses-container {

  }

  .course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 700px;
  }

  .course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
  }

  .course-preview {
    background-color: #2A265F;
    color: #fff;
    padding: 30px;
    max-width: 250px;
  }

  .course-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
  }

  .course-info {
    padding: 30px;
    position: relative;
    width: 100%;
  }

  .progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
  }

  .progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
  }

  .progress::after {
    border-radius: 3px;
    background-color: #2A265F;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 66%;
  }

  .progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
  }

  .btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
  }

  /* SOCIAL PANEL CSS */
  .social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }

  .social-panel-container.visible {
    transform: translateX(-10px);
  }

  .social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;
    width: 370px;
    max-width: calc(100% - 10px);
  }

  .social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .social-panel button.close-btn:focus {
    outline: none;
  }

  .social-panel p {
    background-color: #001F61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
  }

  .social-panel p i {
    margin: 0 5px;
  }

  .social-panel p a {
    color: #FF7500;
    text-decoration: none;
  }

  .social-panel h4 {
    margin: 20px 0;
    color: #97A5CE;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .social-panel ul li {
    margin: 0 10px;
  }

  .social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
  }

  .social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
  }

  .floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }

  .floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
  }

  .floating-btn:focus {
    outline: none;
  }

  .floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
  }

  .floating-text a {
    color: #FF7500;
    text-decoration: none;
  }

  @media screen and (max-width: 480px) {

    .social-panel-container.visible {
      transform: translateX(0px);
    }

    .floating-btn {
      right: 10px;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  h2 {
    margin: 0;
    font-size: 1.4rem;
  }

  @media (min-width: 50em) {
    h2 {
      font-size: 1.8rem;
    }
  }

  .cta {
    --shadowColor: 187 60% 40%;
    display: flex;
    flex-wrap: wrap;
    background: hsl(187 70% 85%);
    max-width: 50rem;
    width: 100%;
    box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.5rem solid;
  }

  .cta img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    flex: 1 1 300px;
    outline: 0.5rem solid;
  }

  .cta__text-column {
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
    flex: 1 0 50%;
  }

  .cta__text-column > * + * {
    margin: min(1.5rem, 2.5vw) 0 0 0;
  }

  .cta a {
    display: inline-block;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: hsl(187 75% 64%);
    border-radius: 0.6rem;
    font-weight: 700;
    border: 0.35rem solid;
  }
