<div #pdfContent id="pdf-content" class="pdf-style" style=" z-index: 2; position: relative; margin:0 auto;width: 800px;height: 824px; padding: 20px;">
  <div style="position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden;">
    <img src="https://bnpbd.org/assets/images/logo/bangladesh-flag-independent-victory-day_551555-340%20(2).png"
         style="width: 100%; height: 100%; object-fit: cover; opacity: 0.1;"
         alt="Background Image">
  </div>
  <div style="display:flex;justify-content: center;margin-bottom: 10px">
    <h1 >{{ "ln.BismillahirRahmanirRahim" | translate }}</h1>
  </div>

  <div style="display:flex;gap: 10px;align-items: center;margin-bottom: 0">
    <img style="width: 150px;" src="https://bnpbd.org/assets/images/logo/bangladesh-flag-independent-victory-day_551555-340%20(2).png" alt="">
    <h2 style="font-size: 40px;">{{ "ln.BangladeshNationalistParty" | translate }}</h2>
  </div>

  <div style="display:flex;justify-content: center;align-items: center;flex-direction: column;">
    <h3 style="line-height: 30px;font-size: 20px;margin-bottom: 0">{{ "ln.Centraloffice" | translate }}</h3>
    <h3 style="line-height: 30px;font-size: 20px;margin-bottom: 0;color: #ff5292;">{{ "ln.MembershipReceipt" | translate }}</h3>
    <h3 style="line-height: 30px;font-size: 20px;margin-bottom: 0">{{ "ln.MemberPart" | translate }}</h3>
  </div>

  <div style="display:flex;margin-top: 15px;font-size: 20px">
    <span>{{ "ln.Im" | translate }}</span>
    <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
  </div>

  <div style="display:flex;margin-top: 15px;font-size: 20px">
    <span style="text-wrap: nowrap;">{{ "ln.Father/Husband" | translate }}</span>
    <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
  </div>

  <div style="display: grid;grid-template-columns: 24% 38% 38%">
   <div style="display:flex;margin-top: 15px;font-size: 20px">
     <span style="text-wrap: nowrap;">{{ "ln.Age" | translate }}</span>
     <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
   </div>
    <div style="display:flex;margin-top: 15px;font-size: 20px">
      <span style="text-wrap: nowrap;">{{ "ln.Occupation" | translate }}</span>
      <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
    </div>
    <div style="display:flex;margin-top: 15px;font-size: 20px">
      <span style="text-wrap: nowrap;">{{ "ln.EducationalQualification" | translate }}</span>
      <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
    </div>
  </div>

  <div style="display:flex;margin-top: 15px;font-size: 20px">
    <span style="text-wrap: nowrap;">{{ "ln.VillageHouseNumber" | translate }}</span>
    <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
  </div>

  <div style="display: grid;grid-template-columns: 30% 70%">
    <div style="display:flex;margin-top: 15px;font-size: 20px">
      <span style="text-wrap: nowrap;">{{ "ln.WardNo" | translate }}</span>
      <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
    </div>
    <div style="display:flex;margin-top: 15px;font-size: 20px">
      <span style="text-wrap: nowrap;">{{ "ln.UnionMunicipality" | translate }}</span>
      <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
    </div>
  </div>

  <div style="display: grid;grid-template-columns: 50% 50%">
    <div style="display:flex;margin-top: 15px;font-size: 20px">
      <span style="text-wrap: nowrap;">{{ "ln.ThanaUpazila" | translate }}</span>
      <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
    </div>
    <div style="display:flex;margin-top: 15px;font-size: 20px">
      <span style="text-wrap: nowrap;">{{ "ln.DistrictMetropolis" | translate }}</span>
      <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
    </div>
  </div>

  <div style="display:flex;margin-top: 15px;font-size: 20px">
    <span style="text-wrap: nowrap;">{{ "ln.NationalIdentityCardNo" | translate }}</span>
    <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
  </div>
  <div style="display:flex;margin-top: 15px;font-size: 20px">
    <span style="text-wrap: nowrap;">{{ "ln.PhoneMobileNumber" | translate }}</span>
    <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
  </div>

  <div style="display:flex;margin-top: 10px;font-size: 19px">
   <p style="line-height: 30px">{{ "ln.PaidSubscription" | translate }}</p>
  </div>

  <div style="display: flex;justify-content: space-between;">
    <div style="display:flex;margin-top: 15px;font-size: 20px;border-top: 1px solid #000000;">
      <span style="text-wrap: nowrap;">{{ "ln.Chairperson" | translate }}</span>
    </div>
    <div style="display:flex;margin-top: 15px;font-size: 20px;border-top: 1px solid #000000;">
      <span style="text-wrap: nowrap;">{{ "ln.MemberSignature" | translate }}</span>
    </div>
    <div style="display:flex;margin-top: 15px;font-size: 20px;border-top: 1px solid #000000;">
      <span style="text-wrap: nowrap;">{{ "ln.CollectorSignature" | translate }}</span>
    </div>
  </div>


  <div style="display: grid;grid-template-columns: 33.33% 33.33% 33.33%;margin-top: 20px">
    <div style="display:flex;margin-top: 15px;font-size: 20px">
    </div>
    <div style="display:flex;margin-top: 15px;font-size: 20px;margin-right: 25px">
      <span style="text-wrap: nowrap;">{{ "ln.Date" | translate }}</span>
      <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
    </div>
    <div style="display:flex;margin-top: 15px;font-size: 20px">
      <span style="text-wrap: nowrap;">{{ "ln.Date" | translate }}</span>
      <p style="border-top: 1px solid #000000!important;width: 100%;"></p>
    </div>
  </div>

</div>

<button (click)="downloadPDF()">Download PDF</button>
