@use "../../../../theme/variables" as *;
@use "../../../../theme/_swipper" as *;

.section-4 {
  margin: 50px 0px;
}

.section-4-main-left {
  .button-hover {
    padding: 3px 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 7px;
    background-color: #0E7356;
    color: #FFF;
    text-align: center;
    display: inline;
    border: 2px solid transparent;
    cursor: pointer;
    max-width: 130px;
    text-align: center;
    margin-left: 16px;

    &:hover {
      background-color: #FFF;
      color: #0E7356;
      border: 2px solid #0E7356;
    }
  }
  .test-program-elm-container{
    margin-bottom: 20px;
  }


  .title-topp {
    color: #2a413c;
    font-family: $font-en-primary;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }

}

@media (max-width: 1000px) {
  .section-4-main {
    grid-template-columns: repeat(1, 100%);
  }
}

.section-1 {
  margin-top: 20px;
}

.details-page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-area {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 8px 10px;
  //   background-image: url(/assets/images/jpg-image/bg_about_mv.jpg);
  object-fit: cover;
  position: relative;
  z-index: 10;
  border-top: 4px solid #14352c;
  min-height: 100px;

  h2 {
    text-align: center;
    color: #fff;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 42px;
    display: block;
    margin-bottom: 0px;
  }
}

.banner-area::after {
  content: "";
  // background: linear-gradient(to left, #5f0a87b6, #a8478bc9);
  background-color: #033a2b80;
  position: absolute;
  left: 0px;
  width: 100%;
  top: 0px;
  height: 100%;
  z-index: -10;
}



.section-1-main {


  iframe {
    width: 800px !important;
    height: 400px !important;
  }


  h2 {
    text-align: center;
    color: #121212;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
  }

  img {
    max-width: 600px;
    border-radius: 5px;
  }

  .description {
    color: #121212;
    font-family: $font-en-primary;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-top: 15px;
    text-align: justify;
  }
}

@media (max-width: 859px) {
  .section-1-main {
      iframe {
        width: 600px !important;
        height: 400px !important;
      }
  }
}

@media (max-width: 655px) {
  .section-1-main {
    iframe {
      width: 400px !important;
      height: 300px !important;
    }
  }
}

@media (max-width: 445px) {
  .section-1-main {
    iframe {
      width: 300px !important;
      height: 200px !important;
    }
  }
}



.related-news {
  .description {
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
  }

  .swiperr {
    width: 100%;
    padding: 0px !important;
  }

  .swiper-parent {
    background-color: #fff;
  }

  .swipe {
    background-color: #fff;
    width: 100%;
  }

  .swipe-img {
    width: 100%;
    position: relative;

    button {
      position: absolute;
      bottom: 166px;
      right: 140px;
      max-width: 400px;
      padding: 11px 14px;
      margin: auto;
      box-sizing: border-box;
      width: 100%;
      font-size: 23px;
      border-radius: 10px;
      background-color: #047253;
      border: 2px solid transparent;
      transition: all 0.3s linear;

      &:hover {
        background-color: #fff;
        color: #047253;
        border: 2px solid #047253;
      }

      // border: 2px solid #FFFf;
    }
  }

  .swipe-img img {
    // max-height: 100vh;
    // max-height: calc(100vh - 78px);
    // min-height: 270px;
    max-height: 530px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 28%;
  }

  .swipe-img a {
    width: 100%;
  }

  @media (max-width: 767px) {
    .swiper-parent {
      background-color: #fff;
      padding: 10px 10px 10px 10px;
    }

    .swipe-img {
      button {
        position: absolute;
        bottom: 10px;
        right: 0px;
        left: 0px;
        max-width: 235px;
        padding: 6px 10px;
        width: 100%;
        font-size: 15px;
        line-height: 20px;
        border-radius: 20px;
        background-color: #047253;
        border: 2px solid transparent;
      }
    }
  }

  @media (max-width: 700px) {
    .swiperr {
      padding: 0px 0px !important;
    }
  }

  .title-top {
    color: #2a413c;
    font-family: $font-en-primary;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }

  .section-2 {
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .section-2-main {
    margin: 40px 0px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 15px;
    align-items: center;
  }

  .section-2-left {
    h1 {
      color: #133429;
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: bold;
      font-size: 31px;
      line-height: 36px;
      display: block;
      margin-bottom: 20px !important;
    }

    p {
      color: #646464;
      font-family: $font-en-primary;
      font-size: 17px;
      line-height: 27px;
      font-weight: 500;
      padding-bottom: 5px;
      box-sizing: border-box;
      max-width: 330px;
      width: 100%;
    }

    a {
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 400;
      padding: 3px 10px;
      border-radius: 5px;
      box-sizing: border-box;
      transition: all 0.3s linear;
    }
  }

  .section-2-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    img {
      height: 252px;
      width: 215px;
      object-fit: cover;
      object-position: top center;
      border-radius: 5px;
    }
  }

  @media (max-width: 1150px) {
    .section-2-main {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }

    .section-2-left {
      h1 {
        font-size: 30px;
        line-height: 35px;
      }

      p {
        max-width: 600px;
      }
    }

    .section-2-right {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      img {
        min-height: 240px;
        height: auto;
        width: 100%;
        min-width: 240px;
      }
    }
  }

  .icon-middle {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 50px;
    }
  }

  .program-elm-container {
    margin-bottom: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .program-elm {
    border-radius: 15px;
    margin: 10px auto;
    //
    max-width: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .img-date {
      position: relative;
      width: 100%;
      height: 200px;
      //object-fit: cover;
      p {
        background-color: #ffffff;
        padding: 3px 5px;
        font-family: $font-en-primary;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        position: absolute;
        margin-bottom: 0px;
        bottom: 4px;
        left: 5px;
        z-index: 1000;
      }

      img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 100%;
        width: 100%;
      }
    }

    .desc {
      background-color: #ffffff;
      color: #000000;
      //height: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-start !important;
      flex-direction: column;
      justify-content: space-between !important;

      //border-radius: 15px;
      // border-bottom-left-radius: 5px;
      //border-bottom-right-radius: 5px;

      p {
        font-family: $font-en-primary;
        font-size: 15px;
        line-height: 27px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
        margin-bottom: 0px;
      }
    }

    .card-contents {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      height: 340px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .card-contents1 {
      padding: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .writer-img {
      padding-left: 20px;
      width: 100%;
      margin-top: -30px;
      z-index: 100;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .button-one {
      // margin: 20px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      left: 0 !important;
      width: 100%;

      button {
        cursor: pointer;
        background: none;
        border: none;
        color: #5161f7;
        //left: 0;
      }
    }

    .border {
      border-top: 0.5px solid #c4c4c4;
    }

    .date {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;

      p {
        font-size: 14px;
        color: #646464;
        margin-bottom: 0;
      }
    }
  }

  .section4-right {
    display: block;
  }

  .section-5 {
    background-color: #14352c;
  }

  .section-5-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
  }

  .section-5-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    h2 {
      color: #fff;
      font-family: $font-en-primary;
      font-size: 32px;
      font-weight: 600;
      line-height: 36px;
    }
  }

  .section-5-right {
    // background-image: url(../../../assets/images/png/main-qimg-f60abadd7158773a030d92bd65d11d8f.webp);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    padding: 20px;
    min-height: 180px;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;

    .desc-5 {
      color: #ffff;

      h2 {
        font-family: $font-en-primary;
        font-size: 26px;
        font-weight: 600;
        line-height: 28px;
      }
    }
  }

  .section-6 {
    margin: 30px 0px;
  }



  @media (max-width: 767px) {
    .section-4 {
      margin: 20px 0px 30px;
    }

    .section-3 {
      height: auto;
      margin-top: 50px;
    }

    .section-4-main {
      display: block;
      align-items: center;
      gap: 20px;
    }

    .icon-middle {
      display: none;
    }
  }

  @media (max-width: 500px) {
    .section-2-left {
      h1 {
        font-size: 28px;
        line-height: 30px;
      }

      p {
        font-size: 15px;
        line-height: 23px;
      }
    }
  }
}



