// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "./custom-palette" as *;
@use "../variables" as *;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-ui-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$angular-ui-accent: mat.m2-define-palette(mat.$m2-pink-palette);

// The warn palette is optional (defaults to red).
$angular-ui-warn: mat.m2-define-palette(mat.$m2-red-palette);

$angular-ui-typography: mat.m2-define-typography-config(
  // Specify "Comic Sans" as the default font family for all levels.
  $font-family: $font-en-primary,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-ui-theme: mat.m2-define-light-theme((
  color: (
    primary: $angular-ui-primary,
    accent: $angular-ui-accent,
    warn: $angular-ui-warn,
  ),
  typography: $angular-ui-typography,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-ui-theme);