@use "../../../theme/variables" as *;
.section-1-main{
    margin: 30px 0px;

    .title{
        h1{
            font-size: 22px;
            font-family: $font-en-primary;
            font-weight: 600;
            padding-bottom: 5px;
            display: inline;
            color: #000;
            border-bottom: 3px solid green;
        }
    }
    .subtitle{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        a{
            font-size: 22px;
            line-height: 30px;
            font-family: $font-en-primary;
            font-weight: 600;
            display: inline;
            color: #C93C45;
            margin-bottom: 0px;
            cursor: pointer;
            &:hover{
                color: blue;
            }
        }
    }


}
