@use "../../../theme/variables" as *;

.top-banner-area{
  display: block;
  width: 100%;
  .banner{
    width: 100%;
    position: relative;
    img{
      position: relative;
      max-height: 420px;
      width: 100%;
      height: auto;
      min-height: 180px;
    }
    .pageinfo-name{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      h2{
        font-size: 40px!important;
        font-weight: 700;
      }
    }
  }
}



.container {
  width: 100%;
  max-width: 1250px;
  padding: 16px 16px;
  margin: 0 auto;
}

.section-1 {
  margin-top: 20px;
}


.section1-main {
  display: grid;
  grid-template-columns: calc(100%);
  grid-gap: 20px;
  grid-template-rows: auto;
  .section1-left {
    .description {
      margin-top: 30px;
      font-family: $font-en-primary;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
    }
    .description22{

    }
    .page-title {
      font-family: $font-en-primary;
      font-weight: 600;
      font-size: 26px;
      line-height: 52px;
      padding-bottom: 5px;
      display: inline;
      border-bottom: 3px solid green;
    }

    .dofa-page{
      width: 100%;
      .heading-dofa{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .nineteen-card{
      margin: 60px;

      .card1{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          padding: 20px;
          height: 200px;
          width: 200px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 10px;
          span{
              color: #ffffff;
              padding: 10px;
              font-weight: 600;
              height: 40px;
              width: 40px;
              background: #27b68a;
              border-radius: 50%;
          }
      }
  }
  }

  .section1-right {
    h1 {
      font-size: 22px;
      font-family: $font-en-primary;
      font-weight: 600;
      padding-bottom: 5px;
      display: inline;
      border-bottom: 3px solid green;
    }

    .page-list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      a {
        padding: 8px 10px;
        background-color: #FFFF;
        border: 1px solid green;
        font-size: 16px;
        font-family: $font-en-primary;
        font-weight: 500;
        display: block;
        width: 100%;
        margin-bottom: 0px;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background-color: green;
          border: 1px solid green;
          color: #FFF;
        }
      }
    }
  }

}

@media(max-width:850px) {
  .section1-main {
    grid-template-columns: repeat(1, 100%);
  }
}


.card-section{
  background: #B3DDC4;
}

.card-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px!important;
  margin: 0 auto;
  padding: 30px 0;

  h2{
    //text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    font-weight: 400!important;
  }
}
.section2-des{
  h2{
    h2{
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 16px!important;
      font-family: 'Roboto',sans-serif
    }
  }
}
.cards{
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  .nineteen-card{
    //margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


    .card1{
        z-index: 1;
        display: flex;
        position: relative;
        justify-content: center;
        background: #FFF;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 20px;
        max-width: 396px;
        width: 100%;
        height: 364px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;

        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
        span{
            color: #ffffff;
            padding: 10px;
            font-weight: 600;
            height: 40px;
            width: 40px;
            background: #A5DAA4;
            border-radius: 50%;
            margin-bottom: 17px;
        }
      .text-content{
        display: flex;
        align-items: center;
        align-content: center;
        height: 100%;
        width: 100%;
      }
      .test{
        text-align: center;
        line-height: 30px;
        font-size: 18px;
      }
    }
    .card1:hover{
      color: #ffffff;
    }
}


.card1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: all .3s linear;
  z-index: -1;
  border-radius: 10px;
  color: #ffffff;
  background-image: linear-gradient(90deg,#0A785A,#0A785A,#0A785A);
}

.card1:hover::before {
  content: "";
  position: absolute;
  color: #ffffff;
 // bottom: -100%;
  //left: 0;
  width: 100%;
  height: 100%;
  transition: all .3s linear;
  z-index: -1;
  background-image: linear-gradient(90deg,#0A785A,#0A785A,#0A785A);
}
}



@media (max-width:767px){
  .cards{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:600px){
  .cards{
    grid-template-columns: repeat(1,1fr);
    .nineteen-card{
      width: 100%;
      .card1{
        max-width: 100%;
      }
    }
  }
}


@media (max-width:550px) {
  .top-banner-area{
    .banner{

      .pageinfo-name{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        h2{
          font-size: 25px!important;
          font-weight: 700;
        }
      }
    }
  }
}

.title {
  text-align: center;
  font-family:'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400!important;
  line-height: 35px!important;
  font-size: 12px!important;
  margin-bottom: 20px !important;
}
