@use "../variables" as *;
.btn-share {
  display: flex;
  width: 100%;
  margin: 20px 0;

  button {
    background-color: $color-primary;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: #fff;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
    border: 2px solid $color-primary;

    &:hover {
      color: $color-primary;
      background-color: #fff;
    }
  }

  .back{
    margin-left: 10px;
    background-color: $color-primary2;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: #fff;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
    border: 2px solid $color-primary2;
    &:hover {
      color: $color-primary;
      background-color: #fff;
    }
  }
}
