@use "../../../theme/variables" as *;
.contact-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.contact-info-wrapper {
  margin-bottom: 40px;
}

.contact-title {
  text-align: center;
  font-family: $font-en-primary;
  font-size: 32px;
  font-weight: 600;
  color: #313132;
  margin-bottom: 40px;
  line-height: 38px;
}

.contact-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  margin-bottom: 30px;
}

.contact-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 30px 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #f0f0f0;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  }
}

.contact-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.3s ease;

  mat-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
    color: #ffffff;
  }

  &.address-icon {
    background: linear-gradient(135deg, #E8252C 0%, #c41e24 100%);
  }

  &.phone-icon {
    background: linear-gradient(135deg, #4CAF50 0%, #388E3C 100%);
  }

  &.mobile-icon {
    background: linear-gradient(135deg, #25D366 0%, #1DA851 100%);
  }
}

.contact-content {
  h3 {
    font-family: $font-en-primary;
    font-size: 18px;
    font-weight: 600;
    color: #313132;
    margin-bottom: 12px;
    line-height: 24px;
  }

  p {
    font-family: $font-en-primary;
    font-size: 15px;
    color: #424446;
    line-height: 24px;
    margin: 0;

    span {
      display: inline-block;
    }

    .whatsapp-note {
      color: #25D366;
      font-weight: 500;
      margin-left: 5px;
    }
  }
}

@media (max-width: 768px) {
  .contact-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .contact-title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .contact-card {
    padding: 25px 20px;
  }
}

@media (max-width: 480px) {
  .contact-title {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .contact-icon {
    width: 60px;
    height: 60px;

    mat-icon {
      font-size: 30px;
      width: 30px;
      height: 30px;
    }
  }

  .contact-content {
    h3 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }
}
.top-banner-area{
  display: block;
  width: 100%;
  .banner{
    width: 100%;
    position: relative;
    img{
      position: relative;
      max-height: 420px;
      width: 100%;
      height: auto;
      min-height: 180px;
    }
    .pageinfo-name{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      text-align: center;
      h2{
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
}

.bacground{
  background: #F5F6F7;
}

.age-area{
  display: grid;
  grid-template-columns: 23% 37% 37%;
  grid-gap: 10px;
}
.word-area{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}
 //

.sub-banner-area{
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.sub-banner-main{
  display: block;
  //background-image: url('../../../assets/images/temp/image/Package incoming.png');
  padding: 70px 20px;
  box-sizing: border-box;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
  border-radius: 4px;
}
.sub-banner-main::after{
  content: "";
  background-color: #0A785A;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
  border-radius: 6px;
}
.sub-banner-main h3{
  color: #fff;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 600;
  font-size:35px;
  line-height: 40px;
  display: block;
  margin-bottom: 20px!important;
}
.sub-banner-main ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.sub-banner-main ul li{
  display: inline-block;
  margin-right: 10px;
}
.sub-banner-area ul li a{
  color: #fff;
  font-family: $font-en-primary;
  font-weight: 400;
  font-size: 18px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  transition: all 0.3s linear;
}
.sub-banner-area ul li a i{
  font-size: 14px;
}
.sub-banner-area ul li a:hover{
  text-decoration: underline;
}
@media (max-width: 750px) {
  .age-area{
    grid-template-columns: 100%;
  }
  .word-area{
    grid-template-columns: 100%;
  }
}

@media(max-width:540px){
  .sub-banner-area{
    margin-top: 0px;
  }
  .sub-banner-main{
    border-radius: 0px;
  }
  .sub-banner-main::after{
    border-radius: 0px;
  }
  .sub-banner-main h3{
    font-size: 30px;
    line-height: 35px;
  }
  .sub-banner-area ul li a{
    font-size: 16px;
  }
}
@media(max-width:550px){
  .sub-banner-area{
    margin-bottom: 20px;
  }
  .category-banner{
    margin-bottom: 20px;
  }

}
.section1{
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.section1-main{
  display: block;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 0px 4px 6px 0 rgb(201 33 39 / 5%);
}
.section1-title{
  display: block;
  margin-bottom: 25px;
  text-align: center;
}
.section1-title h2{
  color: $color-black;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  display: block;
  line-height: 33px;
  margin-bottom: 20px!important;
}
.section1-title p{
  color: $text-color;
  font-size: 17px;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 1000px;
  width: 100%;
  margin: auto!important;
}
.section1-form{
  display: block;
  width: 100%;
  margin-top: 15px;
}
.form{
  display: block;
  max-width: 900px;
  width: 100%;
  margin: auto;
}
.form-input-area{
  display: block;
  width: 100%;
}
.m-100{
  display: block;
  width: 100%;
}
.field input,.field mat-select, .field mat-option{
  display: block;
  color: $heading-color;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}
.field mat-label{
  color: $heading-color;
  font-weight: 400;
  font-size: 16px;
  font-family: $font-en-primary;
  font-style:normal;
}
::ng-deep.field.mat-form-field-infix{
  min-width: auto;
  width: 100%;
}
::ng-deep.field.mat-form-field-appearance-outline .mat-form-field-outline{
  color: #b2bac1;
}
::ng-deep.field.mat-form-field-appearance-outline .mat-form-field-outline-thick{
  color: $color-primary;
}
.submit-btn{
  display: block;
  margin-top: 20px;
}
.submit-btn button{
  background-color: $color-secondary;
  color: #fff;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  max-width: 200px;
  width: 100%;
  display: block;
  margin: auto;
  padding: 4px 0px;
}
.section1-description{
  display: block;
  margin-top: 50px;
  text-align: center;
}
.section1-description p{
  display: block;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $text-color;
}
::ng-deep.field.mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 0.7em 0 1em 0;
}
.map-area{
  margin-top: 40px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

  iframe {
    display: block;
    border-radius: 12px;
  }
}

.section2 {
  padding: 60px 0;
  background: #F5F6F7;
}

@media (max-width: 768px) {
  .section2 {
    padding: 40px 0;
  }

  .map-area {
    margin-top: 30px;
  }
}



@media(max-width:990px){
  .section1-main{
    padding: 30px;
  }
}

@media(max-width:500px){

  .section1-main{
    padding: 30px 20px;
    border-radius: 0px;
  }
}
.section1{
    display: block;
    width: 100%;
    padding: 40px 0px;
    box-sizing: border-box;
}

.section1-main{
  margin: 0 15%;
}
.section1-title{
    display: block;
  margin: 0 16% 30px 16%;
  width: 72%;
}
.button-area{
  display: flex;
  gap: 10px;
}
@media(max-width:900px){

    .section1-title{
        display: block;
      margin: 0 5% 30px 5%;
      width: 92%;
    }
    .section1-main{
        margin: 0 5%;
        .section1-left {
            display: block;
            width: 100%;
            padding: 30px 19px 55px 20px;

        }
      }
    .section1-title{
        padding: 0px 20px;
        box-sizing: border-box;
    }
    .section1{
        padding: 40px 0px;
        box-sizing: border-box;
    }
}
.section1-title h3{
    color:#313132;
    font-family: $font-en-primary;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    display: block;
    line-height: 38px;
    margin-bottom: 10px!important;
}
.section1-title p{
    color: #424446;
    font-family: $font-en-primary;
    font-weight: 500;
    font-size: 18px;
    display: block;
    line-height: 28px;
}
@media(max-width:450px){
    .section1{
        padding: 40px 0px;
    }
    .section1-title{
        display: block;
      margin: 0 2% 30px 2%;
      width: 92%;
    }
    .section1-main{
        margin: 0 2%;
      }
    .section1-title{
     //text-align: center;
     // margin: 0 16% 30px 14%;
    }
    .section1-title h3{
        font-size: 25px;
    }
    .section1-title p{
        font-size: 16px;
    }
}
// .section1-main{
//     display: grid;
//     grid-template-columns: 1.5fr 1fr;
//     grid-gap: 20px;
//     width: 100%;
//     background-color: #ffff;
// }
@media(max-width:1250px){
    .section1-main{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:1100px){
    .section1-main{
        grid-template-columns: repeat(1, 1fr);
    }
}
.section1-left{
    display: block;
    width: 100%;
    padding: 70px 20px 50px 20px;
    box-sizing: border-box;
}
.section1-right{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color: #4B378D;
    padding: 70px 20px 50px 60px;
    box-sizing: border-box;
}
@media(max-width:400px){
    .section1-left{
        padding: 50px 20px 30px 20px;
    box-sizing: border-box;
    }
    .section1-right{
        padding: 50px 20px 20px 20px;
        box-sizing: border-box;
    }
}
.contact{
    display:block ;
}
.contact h3{
    color: #fff;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px!important;
    letter-spacing: 1px;
}
.contact ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.contact ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px 30px;
    width: 100%;
    margin-bottom: 30px;
}

.icon{
    display: block;
}
.icon img{
    width: 33px;
    transition: all 0.3s linear;
}
.contact ul li a{
    color: #d7d6d6;
    font-family: $font-en-primary;
    font-style:normal;
    font-size: 17px;
    display: block;
    font-weight: 500;
    transition: all 0.3s linear;
}
.contact ul li:last-child{
    align-items: flex-start;
}
.contact h4{
    color: #d7d6d6;
    font-family: $font-en-primary;
    font-style:normal;
    font-size: 17px;
    display: block;
    font-weight: 500;
    margin-bottom: 7px!important;
    transition: all 0.3s linear;
}
.contact ul li:hover a{
    color: #fff;
}
.contact ul li:hover h4{
    color: #fff;
}
.contact ul li:hover img{
    transform: translateX(5px);
}
.form-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px!important;
}
.form-title h4{
    color: #363232;
    font-weight: 400;
    font-size: 17px;
    display: block;
    font-style: normal;
}
.form{
    display: block;
}
.form-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0px 20px;
    width: 100%;
}
@media(max-width:530px){
    .form-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
.form-input{
    display: block;
    margin-bottom: 15px;
}
.form-field{
    display: block;
    width: 100%;
}
.form-field mat-label{
    color: #262525;
    font-family: $font-en-primary;
}
.sort-describe{
    display: block;
    margin-bottom: 15px;
}
.sort-describe p{
    color: #363232;
    font-family: $font-en-primary;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}
.sort-describe p a{
    display: inline-block;
    color: #3f29d5;
    text-decoration: underline;
}
.check{
    display: block;
    margin-bottom: 30px;
}
.check .mat-check{
    color: #363232;
    font-family: $font-en-primary;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-wrapper{
    padding: 0px;
    margin: 0px;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 1em 0px 1.2em 0px;
    box-sizing: border-box;
    width: auto;
    min-width: 0px;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline{
    color: #b7b7b7;
}
::ng-deep.mat-check .mat-checkbox-layout{
    white-space: pre-wrap;
}




.sub-btn{
    button{
        border: 2px solid transparent;
        padding: 6px 10px;
        background-color: #E8252C;
        color: #FFFF;
        border-radius: 3px;
        font-size: 16px;
        font-family: $font-en-primary;
        cursor: pointer;
        font-weight: 600;
        //max-width: 150px;
        width: 100%;
        transition: 0.2s ease;

        &:hover{
            border: 2px solid #E8252C;
            color: #E8252C;
            background-color: #FFF;

        }
    }
}
