@use "../../../theme/variables" as *;
@use "../../../theme/common/search" as *;

form {
  ::ng-deep.mat-horizontal-stepper-header {
    width: 20px;
    pointer-events: none;
  }
}

// Disable step header clicks to prevent navigation
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none;
}

::ng-deep .mat-step-header .mat-step-icon,
::ng-deep .mat-step-header .mat-step-icon-selected {
  pointer-events: none;
}

::ng-deep .mat-step-header .mat-step-label {
  pointer-events: none;
}

.section-top-contents {
  display: block;
  width: 100%;
  position: relative;

  .top-banner-area {
    display: block;
    width: 100%;
    position: relative;

    .banner {
      width: 100%;
      position: relative;

      img {
        position: relative;
        height: 850px;
        width: 100%;
        object-fit: cover;
        // height: auto;
        // min-height: 180px;
      }
    }
  }

  .title-area {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .form-area {
    padding: 15px;
    position: absolute;
    top: 50%;
    //right:50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    width: 30%;
    //max-height: 624px;
    //width: 100%;
    height: auto;

    .form-input-area {
      display: block;
      width: 100%;

      .selectPayment {
        display: flex;
        //justify-content: center;
        //align-items: center;
        flex-direction: column;
        width: 100%;

        .data {
          padding-bottom: 10px;
        }

        .active {
          border: 1px solid black;
          cursor: pointer;
        }

        .active1 {
          border: 1px solid black;
          cursor: pointer;
        }

        .active2 {
          border: 1px solid black;
          cursor: pointer;
        }

        .active3 {
          border: 1px solid black;
          cursor: pointer;
        }

        .not-active {
          cursor: pointer;
        }

        button {
          border: none;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border-radius: 10px;
          background: #FFFFFF;
          cursor: pointer;
        }

        .select-payment {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 15px;
          background: #FFFFFF;
          //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border-radius: 10px;
        }

        .payment-method-area1 {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 15px;
          //padding-top: 20px;
        }

      }

    }

    .form {
      display: block;
      max-width: 900px;
      width: 100%;
      margin: auto;
    }
  }


}


.online-payment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  grid-template-rows: auto;
}

@media(max-width: 767px) {
  .online-payment {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
  }
  .payment-left {
    padding: 10px;
  }
}


.method-info {
  cursor: pointer;
  border: 2px solid #e2e5ec;
  padding: 20px 6px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;

  &.active {
    border: 2px solid $color-primary;
  }
}

.method-info img {
  // max-width: 100px;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  margin: auto !important;
  margin-bottom: 10px !important;
  text-align: center;
  display: block;
  object-fit: contain;
}

.method-info span {
  color: #2d2d2d;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  display: block;
  cursor: pointer;
}

.next-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px 0;

  button {
    cursor: pointer;
    padding: 8px 20px;
    background-color: #B4F9D2;
    border: none;
    border-radius: 5px;
  }
}

.done-btn {
  display: flex;
}

.fa-check {
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  color: #00be53;
}

.section-bottom-contents {
  background-color: #B4F9D2;
  padding: 50px 0;

  .section-main {
    width: 100%;

    .payment-header {
      display: flex;
      justify-content: center;

      h4 {
        background: #FFFFFF;
        padding: 10px;
      }
    }
  }

  .payment-method-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;

    .select-payment {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      background: #FFFFFF;
      //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 10px;
    }
  }

}


.m-100 {
  display: block;
  width: 100%;
}

.field input, .field mat-select, .field mat-option {
  display: block;
  color: $heading-color;
  font-family: $font-en-primary;
  font-size: 16px;
}

.field mat-label {
  color: $heading-color;
  font-weight: 400;
  font-family: $font-en-primary;
  font-size: 16px;
}

::ng-deep.field.mat-form-field-infix {
  min-width: auto;
  width: 100%;
}

::ng-deep.field.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #FFFFFF;
}

::ng-deep.field.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $color-primary;
}


label {
  display: inline-block;
  padding-bottom: 5px;
  color: #252525;
  font-weight: 400;
  font-family: "kalpurush", sans-serif;
  font-size: 16px;
}

.num {
  display: grid;
  //grid-template-columns: 100px 1fr 80px;
  grid-template-columns: 100px 1fr;
  grid-gap: 0;
  grid-template-rows: auto;
  margin-bottom: 20px;
  align-items: center;
  border: 1px solid $color-border;
  border-radius: 6px;

  .verify-btn {
    border: none;
    border-radius: 3px;
    margin-left: 2px;
    background: #B4F9D2;
    height: 100%;
    cursor: pointer;
  }

  input {
    //border-radius: 0 6px 6px 0;
    border-left: none;
  }

  .form-input {
    display: block;
    //margin-bottom: 20px;
  }

  .form-input input {
    width: 100%;
    height: 45px;
    //border-radius: 6px;
    padding: 0 20px 2px;
    color: $text-color;
    background: #f5f5f5;
    border: none;
    //border: 1px solid $color-border;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    outline: none;
    line-height: 1.5;
    transition: all 0.3s linear;
  }

  .form-input .invalid {
    border: 1px solid #d51a32;
    margin-bottom: 5px;
  }

  .invalid-txt {
    color: #f14242;
    font-weight: 400;
    font-family: $font-en-primary;
  }

}

.country-code {
  span {
    width: 100%;
    height: 45px;
    border-radius: 4px 0 0 4px;
    padding: 0 20px 2px;
    color: $text-color;
    background: #f5f5f5;
    //border: 1px solid $color-border;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;

    img {
      width: 30px;
      height: 25px;
      object-fit: contain;
    }
  }
}


@media (max-width: 1525px) {
  .section-top-contents .form-area {
    width: 50%;
  }
}

@media (max-width: 1236px) {
  .section-top-contents .form-area {
    width: 70%;
  }

  .section-top-contents .top-banner-area .banner img {
    position: relative;
    height: auto;
    width: 100%;
  }
}

@media (max-width: 1236px) {
  .section-top-contents .form-area {
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    transform: none !important;
  }
}

@media (max-width: 550px) {
  .section-bottom-contents .payment-method-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  ::ng-deep.mat-horizontal-content-container {
    padding: 0 !important;
  }
  .container {
    padding: 0 !important;
  }
}


.check-terms {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5px;
  input{
    width: 20px;
    height: 20px;
  }

  a, label {
    text-align: center;
    white-space: nowrap;


    display: inline-block;
    padding-top: 10px;
    padding-bottom: 0;
    color: #252525;
    font-weight: 400;
    //font-family: "kalpurush", sans-serif;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
  }

  a {
    color: #007a00;
    text-decoration: none;
    transition: text-decoration 0.2s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}
