@use "../../../theme/variables" as *;
.container1{
    max-width: 1000px;
}



.btn-back {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
  justify-content: center;
  //margin: 20px 0px;

  button {
    margin: 10px 0;
    background-color: $color-primary2;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
    border: 2px solid $color-primary2;

    &:hover {
      color: $color-primary;
      background-color: #fff;
    }
  }

}

.ledar-head{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0A785A;
    margin-bottom: 20px;
    padding: 10px 0px;
    text-align: center;
    h2{
        margin-bottom: 0;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        font-size: 22px;
        color: #fff!important;
        margin: 0px!important;
    }
}
.section1{
    display: block;
    width: 100%;
    padding: 40px 0px;
    box-sizing: border-box;
    .section1-main{
        display: grid;
        grid-template-columns: minmax(200px, 300px) 1fr;
        grid-gap: 20px;
       // width: 75%;
        margin: auto;
        .leader-img{
            display: block;
            width: 100%;
            img{
                display: block;
                border-radius: 6px;
                width: 100%;
            }
            
            .loading-placeholder {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 300px;
                background-color: #f5f5f5;
                border-radius: 6px;
                border: 2px dashed #ddd;
                
                .spinner {
                    width: 40px;
                    height: 40px;
                    border: 4px solid #f3f3f3;
                    border-top: 4px solid $color-primary;
                    border-radius: 50%;
                    animation: spin 1s linear infinite;
                    margin-bottom: 15px;
                }
                
                p {
                    color: #666;
                    font-family: $font-en-primary;
                    font-size: 16px;
                    margin: 0;
                }
            }
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .leader-des{
            display: block;
            padding-top: 5px;
            text-align: justify;
            h3{
                color: $color-primary;
                font-family: $font-en-primary;
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                display: block;
                margin-bottom: 20px;
            }
            p{
                color: #646464;
                font-family: $font-en-primary;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                display: block;
                line-height: 30px;
            }
            
            .content-loading {
                .loading-skeleton {
                    .skeleton-line {
                        height: 20px;
                        background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
                        background-size: 200% 100%;
                        animation: loading 1.5s infinite;
                        border-radius: 4px;
                        margin-bottom: 15px;
                        
                        &.short {
                            width: 60%;
                        }
                        
                        &:nth-child(1) {
                            width: 100%;
                        }
                        
                        &:nth-child(2) {
                            width: 90%;
                        }
                        
                        &:nth-child(3) {
                            width: 70%;
                        }
                    }
                }
            }
        }
        
        @keyframes loading {
            0% {
                background-position: 200% 0;
            }
            100% {
                background-position: -200% 0;
            }
        }
    }
}
@media(max-width:1000px){
    .section1{
        .section1-main{
            grid-template-columns: repeat(1, 1fr);
            .leader-img{
                 img{
                    width: 300px;
                    height: 300px;
                    margin: auto;
                 }
            }
        }
    }
}
@media(max-width:550px){
    .ledar-head{
        h2{
            line-height: 25px;
            font-size: 19px;
        }
    }
    .section1{
        .section1-main{
            grid-template-columns: repeat(1, 1fr);
            .leader-img{
                 img{
                    width: 260px;
                    height: 260px;
                    margin: auto;
                 }
            }
            .leader-des{
                 h3{
                    font-size: 27px;
                    margin-bottom: 14px;
                 }
                 p{
                    font-size: 15px;
                    line-height: 25px;
                 }
            }
        }
    }
}
