<div class="main-area">
  <div class="container">
    <!---form-area-->
    <div class="form-area">
      <!---form-area-top-->
      <div class="form-area-top">
        <h3>Worried?</h3>
        <p>No Problem! Just Follow The Simple Way</p>
      </div>
      <!---form-main-->
      <form [formGroup]="dataForm" (ngSubmit)="onPhoneFormSubmit()">
        <!---form-main-->
        <div class="form-main">
          <!--input-area-->
          <div class="form-input-area">
            <div class="form-input-area-main">
              <div class="form-input">
                <input
                  type="email"
                  formControlName="email"
                  placeholder="Enter Your Email"
                  autocomplete="off">
              </div>

              <div class="form-input" *ngIf="isOtpSent && !isOtpValid">
                <input type="text" formControlName="otp" placeholder="Enter OTP Code" autocomplete="off">
              </div>

              <ng-container *ngIf="isOtpValid">
                <div class="form-input password-toggle-group">
                  <input type="password" [type]="isPasswordShow ? 'text' : 'password'" formControlName="password" placeholder="New Password" autocomplete="new-password">
                  <span class="toggle-icon" (click)="onShowPassword()">
                  <i class="fas" [ngClass]="isPasswordShow ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
                </div>
                <div class="form-input password-toggle-group">
                  <input type="password" [type]="isPasswordConfarmShow ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirm New Password" autocomplete="new-password">
                  <span class="toggle-icon" (click)="onShowConfarmPassword()">
                <i class="fas" [ngClass]="isPasswordConfarmShow ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>
                </div>
              </ng-container>

              <div class="form-sub-btn">
                <button  mat-raised-button color="warn" type="submit">
                  {{submitBtnName}}
                </button>
              </div>
            </div>
          </div><!---end-->

        </div>

      </form>
    </div><!----end-->
    <!---main--bottom-->
    <div class="main-bottom">
      <p>Go Back To <a routerLink="../login">Login Here</a></p>
    </div>
    <!---ntt-->
    <div class="ntt">
      <p>Copyright © <a routerLink="/">bnpbd.org</a></p>
    </div>

  </div>
</div>

