@use "../../../theme/variables" as *;
@use "../../../theme/exports/social-share" as *;
.btn-share{
  justify-content: center;
}
.section1{
    display: block;
    width: 100%;
    // background-image: url('https://api2.bangladesh.softlabit.com/api/upload/images/rifughdsygfyw-7965.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 25%;
    padding: 200px 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    border-bottom: 10px solid #27b68a;
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgb(0 0 0 / 50%);
        width: 100%;
        height: 100%;
        z-index: -10;
    }
    .section1-main{
        display: block;
        text-align: center;
        h2{
            color: $colo-white;
            font-family: $font-en-primary;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            display: block;
        }

    }
}
@media(max-width:800px){
    .section1{
        padding: 140px 0px;
        .section1-main{
            h2{
                font-size: 30px;
            }
        }
    }
}
@media(max-width:600px){
    .section1{
        padding: 110px 0px;
        .section1-main{
            h2{
                font-size: 28px;
            }
        }
    }
}
.section2{
    display: block;
    width: 100%;
    background-color: #f2f2f2;
    padding: 70px 10px;
    box-sizing: border-box;
    .section2-main{
        display: block;
        .bnp-logo{
            display: block;
            margin-bottom: 20px;
            img{
                max-width: 100px;
                width: 100%;
                margin: auto;
            }
        }
        .section2-des{
            display: block;
            text-align: center;
            p, div{
                color: $color-black;
                font-size:21px;
                font-weight: 500;
                max-width: 1000px;
                line-height: 30px;
                width: 100%;
                margin: auto;
            }
        }
    }
}

@media(max-width:700px){
    .section2{
        .section2-main{
        .section2-des{
            p, div{
                font-size: 19px;
                line-height: 27px;
            }
        }
        }
    }
}

.section3{
    display: block;
    padding: 60px 0px;
    box-sizing: border-box;
    .section3-main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        width: 100%;
        .section3-left{
            display:flex;
            //align-items: center;
            justify-content: center;
          scroll-behavior: smooth;
            h3{
                color: $color-black;
                font-family: $font-en-primary;
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                display: block;
                margin-bottom: 20px!important;
            }
            p, div{
                text-align: justify;
                color: #646464;
                font-family: $font-en-primary;
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 25px;
            }
        }
        .section3-right{
            display: block;
            //align-items: center;
            //justify-content: center;
            width: 100%;
          max-height: 55vh;
          position: sticky;
          position: -webkit-sticky;
          scroll-behavior: smooth;
          top: 0;
            img{
              margin-top: 31px;
              min-height: 200px;
              max-height: 400px;
              height: 100%;
              //object-fit: contain;
            }
        }
    }
}

@media(max-width:950px){
    .section3{
        .section3-main{
            grid-template-columns: repeat(1, 1fr);
            .section3-left{
                order: 1;
                text-align: center;
            }
            .section3-right{
                order: 0;
            }
        }
    }

}
@media(max-width:550px){
    .section3{
        .section3-main{
            grid-template-columns: repeat(1, 1fr);
            .section3-left{
                order: 1;
                text-align: center;
                p, div{
                    font-size: 16px;
                    line-height: 24px;
                }
                h3{
                    font-size: 23px;
                }
            }
        }
    }
}

.section4{
    display: block;
    background-color: #68ddb3;
    .section4-main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        //padding-top: 60px;
      scroll-behavior: smooth;
        .section4-left{
            display: block;
            width: 100%;
           padding: 31px 0;
          position: sticky;
          position: -webkit-sticky;
          top: 0;
          max-height: 55vh;
          scroll-behavior: smooth;
            img{
                margin-top: 30px;
                min-height: 200px;
                max-height: 400px;
                height: 100%;
               //object-fit: contain;
            }
        }
        .section4-right{
            padding: 25px 20px;
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            h3{
                color: $color-black;
                font-family: $font-en-primary;
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                display: block;
                margin-bottom: 20px!important;
            }
            p, div{
                text-align: justify;
                color: #223c31;
                font-family: $font-en-primary;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 25px;
            }
        }
    }
}
@media(max-width:950px){
    .section4{
        .section4-main{
            grid-template-columns: repeat(1, 1fr);
          .section4-right {
           padding: 25px 0;
          }
            .section3-right{
                text-align: center;
            }
        }
    }
}

@media(max-width:550px){
    .section4{
        .section4-main{
            grid-template-columns: repeat(1, 1fr);
            .section4-right{
                order: 1;
                text-align: center;
                p, div{
                    font-size: 16px;
                    line-height: 24px;
                }
                h3{
                    font-size: 23px;
                }
            }
        }
    }
}
