.product {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  overflow: hidden;
  padding: 15px 18px;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #fff;
  transition: all 0.3s linear;
  cursor: pointer;
}
