@use "../variables" as *;
.mobile-input {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;

  .country-code {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #fff;
    padding: 0 10px;
    font-size: 0.95rem;
    white-space: nowrap;
    cursor: pointer;

    img {
      width: 20px;
      height: 24px;
      border-radius: 2px;
    }
  }

  input {
    border: none;
    padding: 10px 14px;
    font-size: 0.95rem;
    width: 100%;
    background: transparent;

    &:focus {
      outline: none;
      background-color: #fff;
    }
  }
}

input,
select {
  width: 100%;
  //padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  background: #fff;
}

//input:focus,
//select:focus {
//  outline: none;
//  border-color: #007a00;
//  box-shadow: 0 0 0 2px rgba(0, 122, 0, 0.2);
//}

.phone-group {
  display: flex;
  gap: 8px;

  input:first-child {
    width: 60px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  input:last-child {
    flex: 1;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
    font-size: 0.95rem;
    margin-bottom: 4px;
  }

  .required {
    color: red;
    margin-left: 2px;
  }

  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 3px;
  }
}
.login-flag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  img {
    max-width: 34px;
    object-fit: cover;
  }

  span {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 400;
  }
}

::ng-deep {
  .mat-menu-login {
    &.mat-mdc-menu-panel {
      max-height: 300px !important;
    }
  }
}

::ng-deep.mat-mdc-menu-content {
  padding-top: 0 !important;
}

.search-area {
  display: block;
  width: 100%;
  padding: 8px;
  background: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 1;
  /* Ensure it stays on top of other content */
}

.search-area input {
  line-height: 1.5;
  border: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 9px 8px;
  background-size: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
  border-radius: 5px;
  color: #575757;
  font-weight: 400;
  width: 100%;
  font-size: 14px;
  padding: .4em 1em .4em 2.5em;
}

.search-area input::placeholder {
  color: #575757;
  font-size: 14px;
}

.search-area input:focus {
  outline: none;
}

.form-input-select {
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

.main-area{
  ::ng-deep.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    font-size: .875rem !important;
    line-height: 1.25rem !important;
  }

  ::ng-deep.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    transition: opacity 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: .875rem !important;
    line-height: 1.25rem !important;
  }

  ::ng-deep.mat-mdc-text-field-wrapper {
    height: 41px !important;
  }

  ::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 2px !important;
    padding-bottom: 0px !important;
  }

  ::ng-deep.mdc-text-field--outlined {
    padding-right: max(0px, var(--mdc-shape-small, 0px)) !important;
  }

  ::ng-deep.mdc-text-field--outlined {
    padding-left: max(0px, calc(var(--mdc-shape-small, 0px) + 0px)) !important;
  }

  ::ng-deep.mat-mdc-form-field-infix {
    min-height: 41px !important;
  }

  ::ng-deep.mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }


  ::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle, .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle{
    border-color: $color-primary !important;
  }
  ::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle{
    border-color: $color-primary !important;
  }

  ::ng-deep .mdc-notched-outline__trailing {
    border-color: #e5e7eb !important;
  }

  ::ng-deep .mdc-notched-outline__leading {
    border-color: #e5e7eb !important;
  }

  ::ng-deep .mdc-notched-outline__notch {
    border-color: #e5e7eb !important;
  }

  ::ng-deep.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    border-left: none !important;
  }
}

@media (max-width:599px) {
  .header-main{
    flex-direction: column;
  }
  .registration-form .test {
    margin-top: 1rem;
  }
}
