@use "../../../../../theme/variables" as *;

.form-container {
  width: 100%;
  max-width: 500px;
  margin: 25px auto;

  .heading{
    display: flex;
    padding: 12px 0;

    .back-icon{
      display: none;
    }

    .title {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      //padding: 12px 0;
    }
  }



  form {

    mat-form-field {
      width: 100%;
    }
    button {
      margin-top: 16px;
    }
  }
  .forget {
    padding: 0 5px;
    width: 30%;
    a {
      color: #1777f2;
      font-family: $font-en-primary;
      text-decoration: none;
      &:hover {
        color: #5D4037;
      }
    }
  }

  button {
    ::ng-deep span {
      color: #FFFFFF;
    }
  }

}

/**
RESPONSIVE
 */

@media only screen and (max-width: 599px) {
  .form-container {
    padding: 0 12px;
  }
}


@media only screen and (max-width: 599px) {

  .form-container{
    .heading {
      //align-items: center;
      align-items: flex-start;
      display: flex;

      .back-icon {
        display: block;
      }
    }
  }

}
