<div class="news">
    <div class="img">
        <ngx-skeleton-loader count="1" [theme]="{
            'border-radius': '5px',
            height: '80px',
            width: '90px',
            'background-color': '#e5e5e5'
          }">
        </ngx-skeleton-loader>
    </div>
    <div class="news-desc">
        <div class="line">
            <ngx-skeleton-loader count="1" [theme]="{
                'border-radius': '2px',
                 height: '12px',
                 width: '200px',
                'background-color': '#e5e5e5'
              }">
            </ngx-skeleton-loader>
        </div>
        <div class="line">
            <ngx-skeleton-loader count="1" [theme]="{
                'border-radius': '2px',
                height: '12px',
                width: '200px',
                'background-color': '#e5e5e5'
              }">
            </ngx-skeleton-loader>
        </div>
    </div>

</div>