@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  color: $color-black;
  padding: 0;
  margin: 0;
  font-family: $font-en-primary;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

a {
  display: block;
  color: $color-black;
  text-decoration: none;
}

a:hover {
  color: $color-black;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  display: block;
  max-width: $theme-container-width;
  width: 100%;
  margin: auto;
}
@media (max-width: 1500px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 900px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.offer-popup-dialog {
  .mat-dialog-container {
    padding: 0!important;
    background-color: transparent!important;
    box-shadow: none!important;
    margin: 15px;
    box-sizing: border-box;
  }

  img{
    border-radius: 5px;
    height: 100%;
    display: block;
    width: 100%;
  }
}
/**** defualt code  ****/

/* =Global notification
----------------------------------------------------------------------------- */
snack-bar-container {
  &.success-new {
    background: rgb(20, 190, 51);
    background: linear-gradient(
      90deg,
      rgba(20, 190, 51, 1) 0%,
      rgba(26, 182, 8, 1) 100%
    );
    color: #fff;
  }
}

snack-bar-container {
  &.warn {
    background: rgb(235, 140, 57);
    background: linear-gradient(
      90deg,
      rgba(235, 140, 57, 1) 0%,
      rgba(214, 118, 28, 1) 100%
    );
    color: #ffffff;
  }
}

snack-bar-container {
  &.wrong {
    background: rgb(235, 57, 57);
    background: linear-gradient(
      90deg,
      rgba(235, 57, 57, 1) 0%,
      rgba(214, 49, 28, 1) 100%
    );
    color: #fff;
  }
}

.program-font-14{
  font-size: 14px!important;
  line-height: 22px!important;
  p{
    margin-bottom: 12px!important;
  }
}

.font-bangla{
  font-family: $font-bn-primary!important;
}
