// Fonts Family
$font-en-poppins:'Noto Sans', sans-serif;
$font-en-nunito: 'Nunito Sans', sans-serif;
$font-en-OpenSans: 'Open Sans',sans-serif;
$font-en-primary: 'Noto Sans',sans-serif;
$font-en-OpenSans:'Open Sans', sans-serif;
$font-en-mont:'Montserrat', sans-serif;
$font-en-tinos:'Tinos', serif;
$font-bn-primary: 'Noto Sans Bengali', sans-serif;

// Theme Container
$theme-container-width: 1200px;
$theme-container-max-width: 1760px;

// MAT TOOLBAR, SIDENAV & LIST
$toolbar-height: 60px;
$heading-color:#39404a;
// BREAKPOINTS
$max-tablet-width: 899px;
$text-color:#555555;
// COLOR
$color-primary: #253B38;
$color-primary2: #0E7356;
$color-secondary: #4b378d;
$color-accent: #1aa4e0;
$colo-white: #fff;
$color-black: #000000;
$color-border: #e8e8e8;
$category-color: #000;
// background Color
$bg-primary: #0B163F;

h3{
  color: #071c4d;
}
