<section class="payment-success-area">
  <div class="container">
    <!--******* payment-success-main ******-->
    <div class="payment-success-main">
      <!--******* payment-success-top ********-->
      <div class="payment-success-top">
        <!--******* payment-success-icon ********-->
        <div class="payment-success-icon">
          <span><i class="fa fa-spinner"></i></span>
        </div>
        <!--******* payment-success-title ********-->
        <div class="payment-success-title">
          <h4>Checking your payment</h4>
          <p>Warning! Please don't close this page</p>
        </div>
      </div>


    </div>
  </div>
</section>
