@use "../../../theme/variables" as *;
.section1{
    display: block;
    width: 100%;
    padding: 40px 0px;
    box-sizing: border-box;
  .section1-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0A785A;
    margin-bottom: 20px;
    padding: 10px 0px;
    text-align: center;
    h2{
      margin-bottom: 0;
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      font-size: 22px;
      color: #fff!important;
      margin: 0px!important;
    }
  }
    //.section1-title{
    //    display: block;
    //    margin-bottom: 20px;
    //    text-align: center;
    //    h3{
    //        color: $color-primary;
    //        font-family: $font-en-primary;
    //        font-style: normal;
    //        font-weight: 600;
    //        font-size: 26px;
    //        display: block;
    //    }
    //}
    .section1-main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        .leader-card{
            display: block;
            width: 100%;
            .leader-img{
                display: block;
                margin-bottom: 15px;
                cursor: pointer;
                img{
                    width: 100%;
                    max-height: 450px;
                    object-fit: cover;
                    object-position: top;
                    border-radius: 8px;
                }
            }
            .leader-name{
                display: block;
                a{
                    color: $color-primary;
                    font-family: $font-en-primary;
                    font-style: normal;
                    line-height: 25px;
                    font-size: 19px;
                    display: block;
                    font-weight: 600;
                    display: block;
                    margin-bottom: 10px;
                    transition: all 0.3s linear;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                p{
                    color: #646464;
                    font-family: $font-en-primary;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    line-height: 23px;
                }
            }
        }
    }
}

@media(max-width:1000px){
    .section1{
        .section1-main{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media(max-width:550px){
    .section1{
        .section1-main{
            grid-template-columns: repeat(1, 1fr);
            .leader-card{
                .leader-name{
                    a{
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
        }
    }
}
