@use "../../../../theme/exports/_payment-message" as *;
/* Styles for canvas to make it on top of everything */
//.confirmation-container {
//  z-index: 2;
//  background: white;
//  //margin: 93px;
//  //text-align: center;
//  //box-shadow: 0 3px 6px rgba(161, 161, 161, 0.16),
//  //  0 3px 6px rgba(124, 124, 124, 0.16);
//  //  max-width: 600px;
//  //width: 100%;
//  //padding: 50px;
//  //border-radius: 8px;
//  position: relative;
//}
///* Canvas on top */
//#canvas {
//  position: absolute;
//  inset: 0;           // shorthand for top/right/bottom/left: 0
//  width: 100%;
//  height: 100%;
//  z-index: 9;         // higher than any inner content
//  pointer-events: none;
//  opacity: 1;
//  transform: translateY(0);
//  transition: opacity 0.6s ease, transform 0.6s ease;
//}
//
//#canvas.hidden {
//  opacity: 0;
//  transform: translateY(24px);
//}
