@use "../../../../theme/variables" as *;

.dialog-container {
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: -10px;
}

.main {
  p {
    font-family: $font-en-nunito;
  }
}
