@use "../../../../theme/variables" as *;
iframe{
  .ytp-chrome-top .ytp-button, .ytp-small-mode .ytp-chrome-controls .ytp-button, .ytp-small-mode .ytp-replay-button {

    display: none!important;

  }
}

.youtube-container {
  overflow: hidden;
  width: 100%;
  /* Keep it the right aspect-ratio */
  aspect-ratio:10/4;
  /* No clicking/hover effects */
  //pointer-events: none;

  iframe {
    /* Extend it beyond the viewport... */
    width: 100%;
    max-height: 400px;
    height: 100%;
    /* ...and bring it back again */
   // margin-left: -100%;
  }
}

.offer-img{
    display: block;
    width: 100%;
}
.offer-cross-area{
    display: block;
    margin-bottom: 10px;
    text-align: right;
    background: transparent;
}
.offer-cross-area span{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.offer-img-main{
    display: block;
  //pointer-events: none;
}
.offer-img-main img{
    //max-height: 400px!important;
    //max-width: 1000px!important;
    width: 100%;
    height: auto;
    block-size: auto;
    object-fit: contain;
    //object-fit: fill;
    border-radius: 5px;
    object-position: top;
}

::ng-deep .cdk-overlay-dark-backdrop{
    background-color: rgb(0 0 0 / 60%);
    padding: 20px;
    box-sizing: border-box;
  }

//

.popup-area{
  position: relative;
  span{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 9;
    width: 26px;
    height:26px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    svg{
      fill: #ffffff;
      background: #0a785a;
      padding: 5px;
      width: 16px;
      height:16px;
    }
  }
}

.offer-dialog{
  display: block;
  padding: 18px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background: white!important;

  img{
    border-radius: 5px;
    height: 100%;
    display: block;
    width: 100%;
    max-height: 500px;
  }
  .mat-mdc-dialog-container .mdc-dialog__surface{
    background-color: transparent!important;
    box-shadow: none!important;
  }
}

::ng-deep.offer-dialog .cdk-global-overlay-wrapper{
  padding: 10px;
}

::ng-deep.mat-mdc-dialog-surface {
  border-radius: 5px !important;
  background: none!important;
}
