@use "../../../../theme/variables" as *;
@use "../../../../theme/exports/_load-more-btn" as *;
@use "../../../../theme/exports/social-share" as *;
.btn-share{
  justify-content: center;
}
.load-more{
  .button{
    width: 14.3em!important;
  }
}

/* =NGX PAGINATION
----------------------------------------------------------------------------- */
.pagination-container {
  //box-sizing: border-box;
  //border: 1px solid #eaeaea;
  //margin: 5px 10px;
  //padding: 10px;
}

.data-pagination {
  width: 100%;
  text-align: center;

}

.data-pagination .ngx-pagination {
  font-family: $font-en-primary;
  margin-bottom: 0;
}

.data-pagination .ngx-pagination li a {
  font-family: $font-en-primary;
  border-radius: 22px;
  padding: 6px 14px;
}

.data-pagination .ngx-pagination .current {
  background: $color-primary;
  border-radius: 22px;
  padding: 6px 14px;

}


.description {
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;

  }

.title {
    margin: 20px auto 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: #a2e2d1;
    padding: 15px;
    height: 420px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 25%;
    //object-fit: fill;
    background-size: cover;
    //background-size: contain;
    background-image: url(/brand/about-us-banner-01-32ff.png);

    h1 {
      font-size: 32px;
      line-height: 41px;
      font-weight: 700;
      font-family: $font-en-primary;
      color: #ffffff;
      position: relative;
      margin-bottom: 0px;
    }
  }

.program-elm-container{
    margin: 30px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 15px;
    grid-column-gap: 25px;
}
// .program-elm-container {
//     margin-bottom: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.program-elm {
    border-radius: 15px;
    margin: 10px auto;
   //
   // max-width: 350px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .img-date {

        position: relative;
        width: 100%;
        p {
            background-color: #ffffff;
            padding: 3px 5px;
            font-family: $font-en-primary;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            position: absolute;
            margin-bottom: 0px;
            bottom: 4px;
            left: 5px;
            z-index: 1000;
        }

        img {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            height: 127px;
            object-fit: cover;

            width: 100%;

        }
    }

    .desc {
        background-color: #ffffff;
        color: #000000;
        //height: 80px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between!important;

        //border-radius: 15px;
       // border-bottom-left-radius: 5px;
        //border-bottom-right-radius: 5px;

        p {
            font-family: $font-en-primary;
            font-size: 15px;
            line-height: 27px;
            font-weight: 600;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
            margin-bottom: 0;
        }
    }

    .card-contents{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 360px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .card-contents1{
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .writer-img{
        padding-left: 20px;
        width: 100%;
        margin-top: -30px;
        z-index: 100;
        img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }


    .button-one{
       // margin: 20px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        left: 0!important;
        width: 100%;

        button{
            cursor: pointer;
            background: none;
            border: none;
            color: #5161f7;
            //left: 0;
        }
    }
    .border{
        border-top: 0.5px solid #c4c4c4;
    }
    .date{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        p{
            font-size: 14px;
            color: #646464;
            margin-bottom: 0;
        }
    }

}

.program-elm:hover{
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
  cursor: pointer;
  transition: transform .3s;
  z-index: 10;
}


@media(max-width:800px){
    .program-elm-container{
        margin: 20px 0px;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 15px;
    }
    .title{
        margin: 20px auto 30px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #a2e2d1;
        padding: 15px;
        h1{
            text-align: center;
            font-size: 24px;
            line-height: 26px;
        }
    }


    .program-elm .desc {
        padding: 10px;
        height: 68px;

        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
        }
    }
}

@media(max-width:567px){
    .program-elm-container{

        grid-template-columns: repeat(1,1fr);

    }
}
