@use "../../../../theme/variables" as *;
@use "../../../../theme/_swipper" as *;
.section-4 {
  margin: 50px 0;
}

.section-4-main {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.program-elm-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program-elm {
  border-radius: 10px;
  margin: 20px auto;
  transition: transform .2s;
  //max-height: ;
  max-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

  .img-date {
    //height: 180px;
    position: relative;
    width: 100%;

    p {
      background-color: #ffffff;
      padding: 3px 5px;
      font-family: $font-en-primary;
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      position: absolute;
      margin-bottom: 0;
      bottom: 4px;
      left: 5px;
      z-index: 1000;
    }

    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      //height: 180px;
      //object-fit: cover;
      width: 100%;
      aspect-ratio: 7 / 5;
    }
  }

  .desc {
    background-color: #ffffff;
    color: #000000;
    //height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between !important;

    //border-radius: 15px;
    // border-bottom-left-radius: 5px;
    //border-bottom-right-radius: 5px;

    p {
      font-family: $font-en-primary;
      font-size: 15px;
      line-height: 27px;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      -webkit-box-orient: vertical;
      margin-bottom: 0;
    }
  }

  .card-contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    //height: 312px;
    //width: 250px!important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .card-contents1 {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .writer-img {
    padding-left: 20px;
    width: 100%;
    margin-top: -30px;
    z-index: 100;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }


  .button-one {
    // margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 0 !important;
    width: 100%;

    button {
      cursor: pointer;
      background: none;
      border: none;
      color: #5161f7;
      //left: 0;
    }
  }

  .border {
    border-top: 0.5px solid #c4c4c4;
  }

  .date {
    padding: 10px 20px;
    width: 100%;

    p {
      font-size: 14px;
      color: #646464;
      margin-bottom: 0;
    }
  }
}

.program-elm:hover {
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  cursor: pointer;
}

.button-hover {
  padding: 3px 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 7px;
  background-color: #0E7356;
  color: #FFF;
  display: inline;
  border: 2px solid transparent;
  cursor: pointer;
  max-width: 140px;
  text-align: center;

  &:hover {
    background-color: #FFF;
    color: #0E7356;
    border: 2px solid #0E7356;
  }
}

@media(max-width:1000px) {
  .section-4-main {
    grid-template-columns: repeat(1, 100%);
  }
}

@media(max-width:815px) {
  .program-elm {
    .card-contents {
      //height: 327px;
    }
  }

}

.section4-right {
  display: block;
}


@media(max-width:767px) {

  .section-4 {
    margin: 20px 0 50px;
  }

  .section-4-main {
    display: block;
    align-items: center;
    gap: 20px;
  }

  .program-elm .img-date img {
    height: 180px;
  }

  .program-elm .desc {
    //padding: 5px;
    height: 50px;
  }

  .program-elm .desc p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }

  .section-4-main-right {
    padding: 20px 20px 15px;
  }

}
