@use "../../../theme/variables" as *;
@use "../../../theme/exports/social-share" as *;

// Loading skeleton styles
.loading-placeholder {
  padding: 20px;
  background: #f5f5f5;
  border-radius: 8px;
  margin: 20px 0;
}

.loading-skeleton {
  height: 20px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 4px;
  margin: 10px 0;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.btn-share{
  justify-content: center;
}
.top-banner-area {
  display: block;
  width: 100%;
  position: relative;
  border-bottom: 10px solid #27b68a;

  .banner {
    width: 100%;
    text-align: center;

    img {
      position: relative;
      max-height: 420px;
      //min-height: 300px;
      width: 100%;
      height: auto;
      //min-height: 180px;
    }

    h2 {
      position: absolute;
      //color: #000;
      text-align: center;
      line-height: 42px;
      color: $colo-white;
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 670;
      font-size: 32px;
      top: 50%;
      left: auto;
      right: auto;
      width: 100%;
      transform: translateY(-50%);
    }
  }
}





.section1 {
  // display: block;
  width: 100%;
  height: 420px;
  background-size: 100% 100%;
  padding: 200px 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  border-bottom: 10px solid #27b68a;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    z-index: -10;
  }

  .section1-main {
    display: block;
    text-align: center;

    h2 {
      color: $colo-white;
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      display: block;
    }
  }
}

@media(max-width: 800px) {
  .section1 {
    height: 350px;
    // padding: 140px 0px;
    .section1-main {
      h2 {
        font-size: 30px;
      }
    }
  }
}

@media(max-width: 700px) {
  .section1 {
    height: 300px;
    padding: 110px 0px;

    .section1-main {
      h2 {
        font-size: 28px;
      }
    }
  }
}

@media(max-width: 600px) {
  .section1 {
    height: 300px;
    padding: 110px 0px;

    .section1-main {
      h2 {
        font-size: 28px;
      }
    }
  }
}

@media(max-width: 500px) {
  .section1 {
    height: 250px;
    padding: 80px 0px;

    .section1-main {
      h2 {
        font-size: 28px;
      }
    }
  }
}

.section2 {
  display: block;
  width: 100%;
  background-color: #f2f2f2;
  padding: 70px 10px;
  box-sizing: border-box;

  .section2-main {
    display: block;

    .bnp-logo {
      display: block;
      margin-bottom: 20px;

      img {
        max-width: 100px;
        width: 100%;
        margin: auto;
      }
    }

    .section2-des {
      display: block;
      text-align: center;

      p {
        color: $color-black;
        font-size: 21px;
        font-family: $font-en-primary;
        font-weight: 400;
        max-width: 1000px;
        line-height: 30px;
        width: 100%;
        margin: auto;
      }
    }
  }
}

@media(max-width: 700px) {
  .section2 {
    .section2-main {
      .section2-des {
        p {
          font-size: 19px;
          line-height: 27px;
        }
      }
    }
  }
}

.z-bannar {
  .top-banner-area1 {
    display: block;
    width: 100%;
    position: relative;

    .banner {
      width: 100%;
      text-align: center;
      padding-bottom: 40px;

      img {
        position: relative;
        max-height: 420px;
        min-height: 300px;
        width: 100%;
        height: auto;
        min-height: 180px;
      }

      p {
        position: absolute;
        color: #000;
        text-align: center;
        line-height: 45px;
        color: $colo-white;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        top: 50%;
        left: 20%;
        right: auto;
        width: 100%;
        transform: translateY(-50%);
      }
    }
  }
}

.section3 {
  display: block;
  //padding: 40px 0px;
  padding-bottom: 40px;
  box-sizing: border-box;

  .section3-main {
    display: flex;
    justify-content: center;
    align-items: center;
    //grid-template-columns: repeat(1, 1fr);
    //grid-gap: 20px;
    width: 100%;

    .section3-left {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      left: 63%;
      color: #fffbfb;
      // width: 100%;
      h3 {
        color: $color-black;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        display: block;
        margin-bottom: 20px !important;
      }

      p {
        //text-overflow: ellipsis;
        //display: -webkit-box;
        //overflow: hidden;
        //-webkit-line-clamp: 5;
        // -webkit-box-orient: vertical;
        //white-space: nowrap;
        //width: 200px;
        color: #fffbfb !important;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 17px;

        strong {
          color: #fffbfb;
        }
      }
    }

    .section3-right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      //max-width: 1366px;
      img {
        width: 100%;
        margin: auto;
        height: 420px;
        object-fit: cover;
        object-position: top left;
      }
    }
  }
}


@media(max-width: 950px) {
  .section3 {
    .section3-main {
      .section3-left {
        order: 1;
        text-align: center;
      }

      .section3-right {
        order: 0;
      }
    }
  }
}

@media(max-width: 720px) {
  .section3 {
    .section3-main {
      // grid-template-columns: repeat(1, 1fr);

      .section3-left {
        left: 50%;
        order: 1;
        //margin-top: 38%;
        //text-align: end;
      }

      .section3-right {
        order: 0;

        img {
          height: 44vh;
          width: 100%;
        }
      }
    }
  }
}

@media(max-width: 670px) {
  .section3 {
    .section3-main {
      // grid-template-columns: repeat(1, 1fr);

      .section3-left {
        left: 50%;
        order: 1;
        //margin-top: 38%;
        //text-align: end;
        p {
          //text-overflow: ellipsis;
          //display: -webkit-box;
          //overflow: hidden;
          // -webkit-line-clamp: 3;
          //-webkit-box-orient: vertical;
          //white-space: nowrap;

          strong {
            color: #fffbfb;
          }
        }
      }

      .section3-right {
        order: 0;
      }


    }
  }
}

@media(max-width: 566px) {
  .section3 {
    .section3-main {
      // grid-template-columns: repeat(1, 1fr);

      .section3-left {
        //left: 30%;
        order: 1;
        // margin-top: 48%;
        //text-align: end;
        p {
          //text-overflow: ellipsis;
          //display: -webkit-box;
          //overflow: hidden;
          //-webkit-line-clamp: 3;
          // -webkit-box-orient: vertical;
          //white-space: nowrap;

          strong {
            color: #fffbfb;
          }
        }
      }

      .section3-right {
        order: 0;
      }


    }
  }
}

.mat-body p, .mat-body-1 p, .mat-typography .mat-body p, .mat-typography .mat-body-1 p, .mat-typography p {
  margin: 0 !important;
}

@media(max-width: 550px) {
  p {
    margin: 0 !important;
  }
}

@media(max-width: 550px) {
  .section3 {
    .section3-main {
      //grid-template-columns: repeat(1, 1fr);
      .section3-left {
        order: 1;
        text-align: center;

        p {
          font-size: 16px;
          line-height: 16px;
          margin: 0 !important;
        }

        h3 {
          font-size: 23px;
        }

        .paragraph1 {
          margin: 0 !important;

          p {
            margin-bottom: 0;
            margin: 0 !important;
          }
        }
      }

      .section3-right {
        img {
          height: 34vh;
          width: 100%;
        }
      }

      .section3-left {
        left: 40%;
        margin-top: 10px;
        order: 1;
        //  margin-top: 20%;

      }
    }
  }
}

@media(max-width: 432px) {
  .section3 {
    .section3-main {
      // grid-template-columns: repeat(1, 1fr);

      .section3-left {
        //left: 30%;
        order: 1;
        // margin-top: 23%;
        //text-align: end;
        p {
          // text-overflow: ellipsis;
          // display: -webkit-box;
          //overflow: hidden;
          // -webkit-line-clamp: 3;
          //  -webkit-box-orient: vertical;
          /// //white-space: nowrap;

          strong {
            color: #fffbfb;
          }
        }
      }

      .section3-right {
        order: 0;
      }


    }
  }
}

.section4-content {
  // margin-right: 20px;
}

.section4-main {

  gap: 20px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;

  .section41 {

  }

  .section4-main1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
  }

  .section4-main1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all .3s linear;
    z-index: 1;
    // border-radius: 10px;
    color: #ffffff;
    background-color: rgba(113, 245, 124, 0.7);
  }

  .section4-main1:hover::before {
    content: "";
    position: absolute;
    color: #ffffff;
    // bottom: -100%;
    //left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s linear;
    z-index: 1;
    background-color: rgba(113, 245, 124, 0.7);
  }

  .section4-left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    //display: block;
    width: 100%;
    height: 300px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // max-height: 500px;
    }
  }

  .section4-right {
    position: absolute;
    padding: 25px 20px;
    //box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 31, 31, 0.6);
    z-index: 1;
    //top: 0;
    // width: 100%;
    h3 {
      color: #ffffff;
      //background-color: rgba(77, 77, 77, 0.5);
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 600;
      text-align: center;
      font-size: 24px;
      /* text-overflow: ellipsis; */
      /* overflow: hidden; */
      width: 100%;
      height: 100%;
      /* white-space: nowrap; */
      padding: 5px;
    }

    p {

      color: #ffffff;
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
    }
  }


}


.last-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1100px;

  .last-content-img {
    width: 100%;
  }

  .last-content {
    position: relative;
    width: 100%;

    h2 {
      font-family: sans-serif;
      color: #228B22;
      margin: 50px auto;
      text-align: center;
      font-size: 30px;
      width: 100%;
      position: relative;
    }

    h2::before {
      content: '';
      display: block;
      width: 30%;
      height: 3px;
      background: #191970;
      left: 0;
      top: 50%;
      position: absolute;
    }

    h2::after {
      content: "";
      display: block;
      width: 30%;
      height: 3px;
      background: #191970;
      right: 0;
      top: 50%;
      position: absolute;
    }

  }
}

@media(max-width: 486px) {
  .last-contents {
    .last-content {
      position: relative;
      width: 100%;

      h2 {
        font-family: sans-serif;
        color: #228B22;
        margin: 40px auto;
        text-align: center;
        font-size: 20px;
        width: 80%;
        position: relative;
      }

      h2::before {
        content: '';
        display: block;
        width: 30%;
        height: 3px;
        background: #191970;
        left: 0;
        top: 50%;
        position: absolute;
      }

      h2::after {
        content: "";
        display: block;
        width: 30%;
        height: 3px;
        background: #191970;
        right: 0;
        top: 50%;
        position: absolute;
      }
    }
  }
}

@media(max-width: 386px) {
  .last-contents {
    .last-content {
      position: relative;
      width: 100%;

      h2 {
        font-family: sans-serif;
        color: #228B22;
        margin: 40px auto;
        text-align: center;
        font-size: 20px;
        width: 80%;
        position: relative;
      }

      h2::before {
        content: '';
        display: block;
        width: 25%;
        height: 3px;
        background: #191970;
        left: 0;
        top: 50%;
        position: absolute;
      }

      h2::after {
        content: "";
        display: block;
        width: 25%;
        height: 3px;
        background: #191970;
        right: 0;
        top: 50%;
        position: absolute;
      }
    }
  }
}

@media(max-width: 885px) {
  .z-bannar {
    .top-banner-area1 {
      .banner {

        img {

        }

        p {
          position: absolute;
          color: #000;
          margin-top: -10px;
          text-align: center;
          line-height: 30px;
          color: $colo-white;
          font-family: $font-en-primary;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          top: 50%;
          left: 20%;
          right: auto;
          width: 100%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media(max-width: 729px) {
  .z-bannar {
    .top-banner-area1 {
      .banner {

        img {

        }

        p {
          position: absolute;
          color: #000;
          margin-top: -10px;
          text-align: center;
          line-height: 20px;
          color: $colo-white;
          font-family: $font-en-primary;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          top: 50%;
          left: 20%;
          right: auto;
          width: 100%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media(max-width: 550px) {
  .z-bannar {
    .top-banner-area1 {
      .banner {

        img {

        }

        p {
          position: absolute;
          color: #000;
          margin-top: -10px !important;
          text-align: center;
          line-height: 20px;
          color: $colo-white;
          font-family: $font-en-primary;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          top: 50%;
          left: 13%;
          right: auto;
          width: 100%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

// @media(max-width:1100px){
//     .section4{
//         .section4-main{
//             grid-template-columns: repeat(1, 1fr);
//             .section3-right{
//                 text-align: center;
//             }
//         }
//     }
// }

// @media(max-width:550px){
//     .section4{
//         .section4-main{
//             grid-template-columns: repeat(1, 1fr);
//             .section4-right{
//                 order: 1;
//                 text-align: center;
//                 p{
//                     font-size: 16px;
//                     line-height: 24px;
//                 }
//                 h3{
//                     font-size: 23px;
//                 }
//             }
//         }
//     }
// }


// .nineteen-card{
//     margin: 60px;
//     .card1{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         justify-content: space-between;
//         text-align: center;
//         padding: 20px;
//         height: 200px;
//         width: 200px;
//         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//         border-radius: 10px;
//         span{
//             color: #ffffff;
//             padding: 10px;
//             font-weight: 600;
//             height: 40px;
//             width: 40px;
//             background: #27b68a;
//             border-radius: 50%;
//         }
//     }
// }
