<div class="section-1">
    <div class="container">
        <div class="section-1-main">
<!--            <div class="title">-->
<!--                <h1>{{ "ln.NationalExecutive" | translate }}</h1>-->
<!--            </div>-->
          <div class="subtitle title">
            <!-- <a routerLink="/pages/জাতীয়-কার্যনির্বাহী-কমিটি-২০১৬">{{ "ln.NationalExecutive2016" | translate }}</a> -->
            <a routerLink="/pages/national-executive-committee" [queryParamsHandling]="'merge'">{{ "ln.NationalExecutive2009" | translate }}</a>
          </div>
        </div>
    </div>
</div>

