
<div class="product">

  <ngx-skeleton-loader
    count="1"
    [theme]="{
      'border-radius': '5px',
      height: '200px',
      'background-color': '#e5e5e5',
      border: '1px solid white'
    }"
  >
  </ngx-skeleton-loader>

  <div style="text-align: center">
    <ngx-skeleton-loader
      count="1"
      [theme]="{
      'border-radius': '5px',
      height: '10px',
      width: '100%',
      'background-color': '#e5e5e5',
      border: '1px solid white'
    }"
    >
    </ngx-skeleton-loader>
  </div>

  <ngx-skeleton-loader
    count="1"
    [theme]="{
      'border-radius': '5px',
      height: '10px',
      width: '70%',
      'background-color': '#e5e5e5',
      border: '1px solid white'
    }"
  >
  </ngx-skeleton-loader>




</div>

