@use "../../../../theme/variables" as *;
@use "../../../../theme/_swipper" as *;

// Loading placeholder styles
.loading-placeholder {
  background: #f0f0f0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  
  &.shimmer {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.button-hover {
  padding: 3px 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 7px;
  background-color: #0E7356;
  color: #FFF;
  text-align: center;
  display: inline;
  border: 2px solid transparent;
  cursor: pointer;
  max-width: 140px;
  text-align: center;

  &:hover {
    background-color: #FFF;
    color: #0E7356;
    border: 2px solid #0E7356;
  }
}
.pdf-container {
  display: block;
  height: 85vh;
  overflow: auto;
  position: relative;
  //  padding: 10px;
  button {
    position: absolute;
    top: 1px;
    // right: 25px;
    z-index: 99;
  }
}

::ng-deep .mat-dialog-container{
  padding: 3px!important;
}

.publication{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
  max-width: 800px;
  padding-bottom: 20px!important;
  margin: 0;
  //margin-right: 8px;

  .publication-card{
    display: flex;
    justify-content: flex-start;
    //align-items: center;
    //align-items: center;
    flex-direction: column;
    // justify-content: space-between;
    text-align: center;
    top: 0!important;
    img{
      max-width:255px ;
      max-height: 350px;
      width: 100%;
      height: 100%;
      // max-height: 260px;
      // min-height: 260px;
      // height: 100%;
    }
    h3{
      font-size: 17px;
      font-weight: 450;
      color: #fff;
    }
    a{

      background: none;
      border: none;
      cursor: pointer;
      font-size: 17px;
      font-weight: 450;
      color: #fff;
    }
  }

}


@media only screen and (max-width: 599px) {
  .pdf-container {
    //width: 100%;
    // height: 100%;
    overflow: auto;
  }
}

.section-5 {

  background-color: #14352C;
  position: relative;

  //height: 470px;

  .title {
    position: absolute;
    top: -26px;
    margin: 0 auto 0 auto;
    width: 350px;
    background: #047253;
    text-align: center;
    border-radius: 40px;
    padding: 13px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    h2 {
      font-size: 24px;
      color: #fff;
      margin: 0;
      padding: 0;
    }
  }

  .action {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 540px;
    margin-top: 5px auto;
  }
}

.section-5-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // height: 420px;
  gap: 15px;
  align-items: center;
  padding: 15px 0;
}

.section-5-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  h2 {
    color: #FFF;
    font-family: $font-en-primary;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
  }
}

.section-5-right {
  display: block;
  width: 100%;
  position: relative;
  img {
    position: relative;
    max-height: 350px;
    //min-height: 300px;
    width: 100%;
    height: auto;
    //min-height: 180px;
  }
  .desc-5{
    position: absolute;
    top: 50%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h2{
      margin-bottom: 16px;
      text-shadow: 3px 3px 20px #333232,
      -2px 1px 30px #282828;
    }
  }
  // // background-image: url(../../../assets/images/png/main-qimg-f60abadd7158773a030d92bd65d11d8f.webp);
  // display: flex;
  // align-items: flex-start;
  //// align-items: center;
  // justify-content: center;
  // flex-direction: column;
  // background-size: 100% 100% !important;
  // background: no-repeat center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // //background-size: cover;
  // box-sizing: border-box;
  //// background-position: center center;
  // object-fit: cover;
  // padding: 20px;
  // min-height: 180px;
  // //background-position: center;
  // width: 100%;
  // height: auto;
  // max-height: 420px;
  //// height: 100%;
  // //object-fit: cover;
  // background-size: cover;
  // object-fit: cover;


  .desc-5 {
    color: #FFFF;

    h2 {
      font-family: $font-en-primary;
      font-size: 26px;
      font-weight: 600;
      line-height: 28px;
    }
  }
}

@media(max-width:1117px) {

  .section-5-main {

    // height: 400px;
  }
}

@media(max-width:900px) {

  .section-5-main {
    //height: 360px;
  }
}

@media(max-width:767px) {

  .title-top {
    font-size: 24px;
  }
  .section-5-main {
    grid-template-columns: repeat(1, 1fr);
  }

  .section-5-left {
    align-items: center;
    gap: 5px;
    padding: 15px;

    h2 {
      margin: 15px;
      font-size: 15px;
      line-height: 28px !important;
      margin-bottom: 2px !important;
    }

  }

  .section-5-right {

    .desc-5 {
      h2{
        line-height: 16px;
      }
      top: 70%;
    }
  }


  .section-5-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-repeat: no-repeat;
    padding: 5px;
    background-position: center;
  }

  .section-5-left h2 {
    font-size: 20px;
    line-height: 22px;
  }

}

@media(max-width:765px) {

  .section-5-main {
    //  height: 450px;
  }
}
