@use "../../../../theme/exports/_load-more-btn" as *;
@use "../../../../theme/exports/social-share" as *;
.btn-share{
  justify-content: center;
}
.pagination-container{
  display: flex;
  justify-content: center;
}
.publication{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    max-width: 800px;
    padding-bottom: 20px!important;
    margin: 0 auto;

    .publication-card{
        display: flex;
        justify-content: flex-start;
        //align-items: center;
        align-items: center;
        flex-direction: column;
       // justify-content: space-between;
        text-align: center;
        top: 0!important;
        img{
            width:255px ;
            height: 350px;
            // max-height: 260px;
            // min-height: 260px;
            // height: 100%;
        }
        h3{
            font-size: 17px;
            font-weight: 450;
            line-height: 35px;
            margin-bottom: 13px!important;
        }
        a{

            background: none;
            border: none;
            cursor: pointer;
            font-size: 17px;
            font-weight: 450;
        }
    }
}
.pdf-container {
  display: block;
  height: 85vh;
  overflow: auto;
  position: relative;
  //  padding: 10px;
  button {
    position: absolute;
    top: 1px;
    // right: 25px;
    z-index: 99;
  }
}

::ng-deep .mat-dialog-container{
  padding: 3px!important;
}

@media only screen and (max-width: 599px) {
  .pdf-container {
    //width: 100%;
    // height: 100%;
    overflow: auto;
  }
}
@media(max-width:832px){
    .publication{
        display: grid;
        grid-template-columns: repeat(2,1fr);

        .publication-card{

            h3{

            }
            button{

            }
        }
    }
}

@media(max-width:548px){
    .publication{
        display: grid;
        grid-template-columns: repeat(1,1fr);

        // .publication-card{

        //     h3{
        //         font-size: 16px;
        //         font-weight: 500;
        //     }
        //     a{
        //         background: none;
        //         border: none;
        //         cursor: pointer;
        //         font-size: 16px;
        //         font-weight: 500;
        //     }
        // }
    }
}
