@use "../../../../theme/variables" as *;
@use "../../../../theme/_swipper" as *;
.section-4 {
  margin: 50px 0;
}

.section-4-main {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.program-elm-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program-elm {
  border-radius: 10px;
  margin: 20px auto;
  transition: transform .2s;
  //max-height: ;
  max-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

  .img-date {
    height: 180px;
    position: relative;
    width: 100%;

    p {
      background-color: #ffffff;
      padding: 3px 5px;
      font-family: $font-en-primary;
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      position: absolute;
      margin-bottom: 0;
      bottom: 4px;
      left: 5px;
      z-index: 1000;
    }

    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 180px;
      //object-fit: cover;
      width: 100%;

    }
  }

  .desc {
    background-color: #ffffff;
    color: #000000;
    //height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between !important;

    //border-radius: 15px;
    // border-bottom-left-radius: 5px;
    //border-bottom-right-radius: 5px;

    p {
      font-family: $font-en-primary;
      font-size: 15px;
      line-height: 27px;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      -webkit-box-orient: vertical;
      margin-bottom: 0;
    }
  }

  .card-contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    //width: 250px!important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .card-contents1 {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .writer-img {
    padding-left: 20px;
    width: 100%;
    margin-top: -30px;
    z-index: 100;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }


  .button-one {
    // margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 0 !important;
    width: 100%;

    button {
      cursor: pointer;
      background: none;
      border: none;
      color: #5161f7;
      //left: 0;
    }
  }

  .border {
    border-top: 0.5px solid #c4c4c4;
  }

  .date {
    padding: 10px 20px;
    width: 100%;

    p {
      font-size: 14px;
      color: #646464;
      margin-bottom: 0;
    }
  }
}

.program-elm:hover {
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  cursor: pointer;
}


.program-elm1{
  margin: 20px auto;

}

.conferance-card{
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  //width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 15px;
}
.icon{
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  left: 10px;
  top: 10px;
  z-index: 2;
  height: 40px;
  width: 40px;
}
.post {
  cursor: pointer;
  //margin: 10px!important;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  width: 270px;
  height: 300px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;

  &:hover {
    .header_post {
      margin-top: -20px;
    }

    .body_post {
      height: 45%;
    }

    img {
      transform: translatey(-10px) translatex(-5px) scale(1.05)

    }
  }

  .header_post {
    width: 100%;
    height: 70%;
    background: #ddd;
    position: absolute;
    top: 0;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;

    img {
      max-width: 100%;
      height: auto;
      transition: ease-in-out 600ms;
    }
  }

  .body_post {
    width: 100%;
    height: 30%;
    background: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    cursor: pointer;


    .post_content {
      width: 80%;
      height: 62%;
      background: #fff;
      position: relative;

      h1 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: 'Roboto',sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #000;
        line-height: 34px;
      }

      p {
        font-size: 14px;
        font-weight: normal;
      }

      .container_infos {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        padding-top: 25px;

        .postedBy {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 12px;

          span {
            font-size: 12px;
            text-transform: uppercase;
            opacity: 0.5;
            letter-spacing: 1px;
            font-weight: bold;
          }
        }

        .container_tags {
          display: flex;
          flex-direction: column;

          span {
            font-size: 12px;
            text-transform: uppercase;
            opacity: 0.5;
            letter-spacing: 1px;
            font-weight: bold;
          }

          .tags {
            ul {
              display: flex;
              li {
                font-size: 12px;
                letter-spacing: 2px;
                list-style: none;
                margin-left: 8px;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
                display: flex;
                justify-content: center;
                cursor: pointer;

                &:first-child {
                  margin-left: 0;
                }

                &:before {
                  content: '';
                  text-align: center;
                  width: 100%;
                  height: 5px;
                  background: #FC6042;
                  opacity: 0.5;
                  position: absolute;
                  bottom: 0;
                  z-index: -1;
                  padding: 0 1px;
                  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                  -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                  -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                  -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                }

                &:hover:before {
                  height: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.button-hover {
  padding: 3px 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 7px;
  background-color: #0E7356;
  color: #FFF;
  display: inline;
  border: 2px solid transparent;
  cursor: pointer;
  max-width: 140px;
  text-align: center;

  &:hover {
    background-color: #FFF;
    color: #0E7356;
    border: 2px solid #0E7356;
  }
}

@media (max-width: 499px){

  .program-elm1{
    display:flex;
    justify-content: center;

  }
}


@media(max-width:1000px) {
  .section-4-main {
    grid-template-columns: repeat(1, 100%);
  }
}

@media(max-width:815px) {
  .program-elm {
    .card-contents {
      height: 327px;
    }
  }

}

.section4-right {
  display: block;
}


@media(max-width:767px) {

  .section-4 {
    margin: 20px 0 50px;
  }

  .section-4-main {
    display: block;
    align-items: center;
    gap: 20px;
  }

  .program-elm .img-date img {
    height: 180px;
  }

  .program-elm .desc {
    padding: 5px;
    height: 50px;
  }

  .program-elm .desc p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }

  .section-4-main-right {
    padding: 20px 20px 15px;
  }

}
